openapi: 3.0.1
info:
  description: "Monitoring API can be used to fetch system details on a site, system-level\
    \ production and consumption data, and device-level production data."
  license:
    name: Enphase Energy API License Agreement.
    url: https://enphase.com/api-license-agreement-v4
  termsOfService: https://enphase.com/legal/terms-of-service
  title: The Enphase Monitoring API
  version: "4.0"
servers:
- url: https://api.enphaseenergy.com/api/v4
security:
- OAuth2: []
- ApiKey: []
paths:
  /systems:
    get:
      description: "Returns a list of systems for which the user can make API requests.\
        \ By default, systems are returned in batches of 10. The maximum size is 100."
      operationId: GetSystems
      parameters:
      - description: "Page to be returned. Default=1, Min=1. For example, if page\
          \ is set to 2, 2nd page is returned."
        explode: true
        in: query
        name: page
        required: false
        schema:
          minimum: 1
          type: integer
        style: form
      - description: "Maximum number of records shown per page. Default=10, Min=1,\
          \ Max=100.  For example, if set to 5, 5 records are shown per page."
        explode: true
        in: query
        name: size
        required: false
        schema:
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: "Returns list of systems sorted by <sort_by> field. To get ASC\
          \ order sorted list, user sort_by = <key>. To get DESC order sorted list,\
          \ use sort_by = (-)<key>. Current sort keys supported are id, name, and\
          \ last_report_date. By default the list is sorted by decreasing system ID."
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          $ref: '#/components/schemas/SystemSortByEnum'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSystemsResponse'
          description: List of systems.
        "401":
          content:
            application/json:
              example:
                message: Not Authorized
                details: User is not authorized
                code: 401
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Unauthorized
        "405":
          content:
            application/json:
              example:
                reason: "405"
                message:
                - Method not allowed
              schema:
                $ref: '#/components/schemas/MethodNotAllowedError'
          description: Method Not Allowed
        "422":
          content:
            application/json:
              example:
                message: Unprocessable Entity
                details: system is missing at Json body location
                code: 422
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              example:
                message: Too Many Requests
                details: Usage limit exceeded for plan Kilowatt
                code: 429
                period: minute
                period_start: 1623825660
                period_end: 1623825720
                limit: 5
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
          description: Too Many Requests
        "500":
          content:
            application/json:
              examples:
                InternalServerError:
                  value:
                    message: Internal Server Error
                    details: "Problem parsing time. Is time passed correctly in the\
                      \ following fields {:start_date=>\"2019-08-33\", :end_at=>\"\
                      2019-08-29\"}"
                    code: 500
                DataTemporarilyUnavailableError:
                  value:
                    errorCode: 7
                    errorMessages:
                    - Data is temporarily unavailable
              schema:
                $ref: '#/components/schemas/GetSystems_500_response'
          description: Internal Server Error
        "501":
          content:
            application/json:
              example:
                reason: "501"
                message:
                - Not Implemented
              schema:
                $ref: '#/components/schemas/NotImplementedError'
          description: Not Implemented
      summary: Fetch systems
      tags:
      - System Details
  /systems/search:
    post:
      description: Search and filter systems. Provide only valid values in request
        parameters. Empty and invalid values will be ignored. Invalid keys will be
        rejected.
      operationId: SearchSystems
      parameters:
      - description: "Page to be returned. Default=1, Min=1, e.g=2."
        explode: true
        in: query
        name: page
        required: false
        schema:
          minimum: 1
          type: integer
        style: form
      - description: "Maximum number of records shown per page. Default=10, Min=1,\
          \ Max=1000, e.g=5."
        explode: true
        in: query
        name: size
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchSystemsRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchSystemsResponse'
          description: List of systems.
        "401":
          content:
            application/json:
              example:
                message: Not Authorized
                details: User is not authorized
                code: 401
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Unauthorized
        "404":
          content:
            application/json:
              example:
                message: Not Found
                details: "System not found for {:id=>\"1\"}"
                code: 404
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Not Found
        "422":
          content:
            application/json:
              example:
                message: Unprocessable Entity
                details: System are missing at JSON body location
                code: 422
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              example:
                message: Too Many Requests
                details: Usage limit exceeded for plan Kilowatt
                code: 429
                period: minute
                period_start: 1623825660
                period_end: 1623825720
                limit: 5
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
          description: Too Many Requests
        "500":
          content:
            application/json:
              examples:
                InternalServerError:
                  value:
                    message: Internal Server Error
                    details: "Problem parsing time. Is time passed correctly in the\
                      \ following fields {:start_date=>\"2019-08-33\", :end_at=>\"\
                      2019-08-29\"}"
                    code: 500
                DataTemporarilyUnavailableError:
                  value:
                    errorCode: 7
                    errorMessages:
                    - Data is temporarily unavailable
              schema:
                $ref: '#/components/schemas/GetSystems_500_response'
          description: Internal Server Error
        "501":
          content:
            application/json:
              example:
                reason: "501"
                message:
                - Not Implemented
              schema:
                $ref: '#/components/schemas/NotImplementedError'
          description: Not Implemented
      summary: Search and filter systems
      tags:
      - System Details
      x-codegen-request-body-name: params
  /systems/{system_id}:
    get:
      description: Retrieves a system by ID.
      operationId: GetSystem
      parameters:
      - description: Unique numeric ID of the system.
        explode: false
        in: path
        name: system_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSystemResponse'
          description: System fetched.
        "401":
          content:
            application/json:
              example:
                message: Not Authorized
                details: User is not authorized
                code: 401
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                message: Forbidden
                details: Not authorized to access this resource
                code: 403
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Forbidden
        "404":
          content:
            application/json:
              example:
                message: Not Found
                details: "System not found for {:id=>\"1\"}"
                code: 404
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Not Found
        "405":
          content:
            application/json:
              example:
                reason: "405"
                message:
                - Method not allowed
              schema:
                $ref: '#/components/schemas/MethodNotAllowedError'
          description: Method Not Allowed
        "429":
          content:
            application/json:
              example:
                message: Too Many Requests
                details: Usage limit exceeded for plan Kilowatt
                code: 429
                period: minute
                period_start: 1623825660
                period_end: 1623825720
                limit: 5
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
          description: Too Many Requests
        "500":
          content:
            application/json:
              examples:
                InternalServerError:
                  value:
                    message: Internal Server Error
                    details: "Problem parsing time. Is time passed correctly in the\
                      \ following fields {:start_date=>\"2019-08-33\", :end_at=>\"\
                      2019-08-29\"}"
                    code: 500
                DataTemporarilyUnavailableError:
                  value:
                    errorCode: 7
                    errorMessages:
                    - Data is temporarily unavailable
              schema:
                $ref: '#/components/schemas/GetSystems_500_response'
          description: Internal Server Error
        "501":
          content:
            application/json:
              example:
                reason: "501"
                message:
                - Not Implemented
              schema:
                $ref: '#/components/schemas/NotImplementedError'
          description: Not Implemented
      summary: Retrieves a System by ID
      tags:
      - System Details
  /systems/{system_id}/summary:
    get:
      description: Returns system summary based on the specified system ID.
      operationId: GetSystemSummary
      parameters:
      - description: Unique numeric ID of the system.
        explode: false
        in: path
        name: system_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSystemSummaryResponse'
          description: System summary fetched.
        "401":
          content:
            application/json:
              example:
                message: Not Authorized
                details: User is not authorized
                code: 401
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                message: Forbidden
                details: Not authorized to access this resource
                code: 403
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Forbidden
        "404":
          content:
            application/json:
              example:
                message: Not Found
                details: "System not found for {:id=>\"1\"}"
                code: 404
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Not Found
        "405":
          content:
            application/json:
              example:
                reason: "405"
                message:
                - Method not allowed
              schema:
                $ref: '#/components/schemas/MethodNotAllowedError'
          description: Method Not Allowed
        "429":
          content:
            application/json:
              example:
                message: Too Many Requests
                details: Usage limit exceeded for plan Kilowatt
                code: 429
                period: minute
                period_start: 1623825660
                period_end: 1623825720
                limit: 5
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
          description: Too Many Requests
        "500":
          content:
            application/json:
              examples:
                InternalServerError:
                  value:
                    message: Internal Server Error
                    details: "Problem parsing time. Is time passed correctly in the\
                      \ following fields {:start_date=>\"2019-08-33\", :end_at=>\"\
                      2019-08-29\"}"
                    code: 500
                DataTemporarilyUnavailableError:
                  value:
                    errorCode: 7
                    errorMessages:
                    - Data is temporarily unavailable
              schema:
                $ref: '#/components/schemas/GetSystems_500_response'
          description: Internal Server Error
        "501":
          content:
            application/json:
              example:
                reason: "501"
                message:
                - Not Implemented
              schema:
                $ref: '#/components/schemas/NotImplementedError'
          description: Not Implemented
      summary: Retrieves a system summary
      tags:
      - System Details
  /systems/{system_id}/devices:
    get:
      description: Retrieves devices for a given system. Only devices that are active
        will be returned in the response.
      operationId: GetSystemDevices
      parameters:
      - description: Unique numeric ID of the system.
        explode: false
        in: path
        name: system_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSystemDevicesResponse'
          description: List of devices.
        "401":
          content:
            application/json:
              example:
                message: Not Authorized
                details: User is not authorized
                code: 401
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                message: Forbidden
                details: Not authorized to access this resource
                code: 403
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Forbidden
        "404":
          content:
            application/json:
              example:
                message: Not Found
                details: "System not found for {:id=>\"1\"}"
                code: 404
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Not Found
        "405":
          content:
            application/json:
              example:
                reason: "405"
                message:
                - Method not allowed
              schema:
                $ref: '#/components/schemas/MethodNotAllowedError'
          description: Method Not Allowed
        "429":
          content:
            application/json:
              example:
                message: Too Many Requests
                details: Usage limit exceeded for plan Kilowatt
                code: 429
                period: minute
                period_start: 1623825660
                period_end: 1623825720
                limit: 5
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
          description: Too Many Requests
        "500":
          content:
            application/json:
              examples:
                InternalServerError:
                  value:
                    message: Internal Server Error
                    details: "Problem parsing time. Is time passed correctly in the\
                      \ following fields {:start_date=>\"2019-08-33\", :end_at=>\"\
                      2019-08-29\"}"
                    code: 500
                DataTemporarilyUnavailableError:
                  value:
                    errorCode: 7
                    errorMessages:
                    - Data is temporarily unavailable
              schema:
                $ref: '#/components/schemas/GetSystems_500_response'
          description: Internal Server Error
        "501":
          content:
            application/json:
              example:
                reason: "501"
                message:
                - Not Implemented
              schema:
                $ref: '#/components/schemas/NotImplementedError'
          description: Not Implemented
      summary: Retrieves devices for a given system
      tags:
      - System Details
  /systems/retrieve_system_id:
    get:
      description: "Get system ID by passing envoy serial number. If the serial number\
        \ of a retired envoy is passed in the request param, a 404 Not Found response\
        \ will be returned."
      operationId: RetrieveSystemId
      parameters:
      - description: Envoy serial number.
        explode: true
        in: query
        name: serial_num
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveSystemIdResponse'
          description: retrieve_system_id
        "401":
          content:
            application/json:
              example:
                message: Not Authorized
                details: User is not authorized
                code: 401
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Unauthorized
        "404":
          content:
            application/json:
              example:
                message: Not Found
                details: "System not found for {:id=>\"1\"}"
                code: 404
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Not Found
        "405":
          content:
            application/json:
              example:
                reason: "405"
                message:
                - Method not allowed
              schema:
                $ref: '#/components/schemas/MethodNotAllowedError'
          description: Method Not Allowed
        "422":
          content:
            application/json:
              example:
                message: Unprocessable Entity
                details: Provide envoy serial number
                code: 422
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              example:
                message: Too Many Requests
                details: Usage limit exceeded for plan Kilowatt
                code: 429
                period: minute
                period_start: 1623825660
                period_end: 1623825720
                limit: 5
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
          description: Too Many Requests
        "500":
          content:
            application/json:
              examples:
                InternalServerError:
                  value:
                    message: Internal Server Error
                    details: "Problem parsing time. Is time passed correctly in the\
                      \ following fields {:start_date=>\"2019-08-33\", :end_at=>\"\
                      2019-08-29\"}"
                    code: 500
                DataTemporarilyUnavailableError:
                  value:
                    errorCode: 7
                    errorMessages:
                    - Data is temporarily unavailable
              schema:
                $ref: '#/components/schemas/GetSystems_500_response'
          description: Internal Server Error
        "501":
          content:
            application/json:
              example:
                reason: "501"
                message:
                - Not Implemented
              schema:
                $ref: '#/components/schemas/NotImplementedError'
          description: Not Implemented
      summary: Retrieve system for a given envoy serial number
      tags:
      - System Details
  /systems/{system_id}/production_meter_readings:
    get:
      description: |-
        Returns the last known reading of each production meter on the system as of the requested time, regardless of whether the meter is currently in service or retired.
        Read_at is the time at which the reading was taken, and is always less than or equal to the requested end_at. Commonly, the reading will be within 30 minutes of the requested end_at.
        However, larger deltas can occur and do not necessarily mean there is a problem with the meter or the system.
        Systems that are configured to report infrequently can show large deltas on all meters, especially when end_at is close to the current time.
        Meters that have been retired from a system will show an end_at that doesn't change, and that eventually is far away from the current time.
      operationId: GetSystemProductionMeterReadings
      parameters:
      - description: Unique numeric ID of the system.
        explode: false
        in: path
        name: system_id
        required: true
        schema:
          type: integer
        style: simple
      - description: "End of reporting period in Unix epoch time. If no end is specified,\
          \ defaults to the time of the request. If the end is later than the last\
          \ reported interval the response data ends with the last reported interval."
        explode: true
        in: query
        name: end_at
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSystemProductionMeterReadingsResponse'
          description: production_meter_readings
        "401":
          content:
            application/json:
              example:
                message: Not Authorized
                details: User is not authorized
                code: 401
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                message: Forbidden
                details: Not authorized to access this resource
                code: 403
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Forbidden
        "404":
          content:
            application/json:
              example:
                message: Not Found
                details: "System not found for {:id=>\"1\"}"
                code: 404
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Not Found
        "405":
          content:
            application/json:
              example:
                reason: "405"
                message:
                - Method not allowed
              schema:
                $ref: '#/components/schemas/MethodNotAllowedError'
          description: Method Not Allowed
        "422":
          content:
            application/json:
              example:
                message: Unprocessable Entity
                details: Failed to parse date 1613543106
                code: 422
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              example:
                message: Too Many Requests
                details: Usage limit exceeded for plan Kilowatt
                code: 429
                period: minute
                period_start: 1623825660
                period_end: 1623825720
                limit: 5
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
          description: Too Many Requests
        "500":
          content:
            application/json:
              examples:
                InternalServerError:
                  value:
                    message: Internal Server Error
                    details: "Problem parsing time. Is time passed correctly in the\
                      \ following fields {:start_date=>\"2019-08-33\", :end_at=>\"\
                      2019-08-29\"}"
                    code: 500
                DataTemporarilyUnavailableError:
                  value:
                    errorCode: 7
                    errorMessages:
                    - Data is temporarily unavailable
              schema:
                $ref: '#/components/schemas/GetSystems_500_response'
          description: Internal Server Error
        "501":
          content:
            application/json:
              example:
                reason: "501"
                message:
                - Not Implemented
              schema:
                $ref: '#/components/schemas/NotImplementedError'
          description: Not Implemented
      summary: production_meter_readings
      tags:
      - Site Level Production Monitoring
  /systems/{system_id}/rgm_stats:
    get:
      description: |-
        Returns performance statistics as measured by the revenue-grade meters installed on the specified system. If the total duration requested is more than one week, returns one week of intervals.
        Intervals are 15 minutes in length and start at the top of the hour.
        Requests for times that do not fall on the 15-minute marks are rounded down.
        For example, a request for 08:01, 08:08, 08:11, or 08:14 (in epoch format) is treated as a request for 08:00 (in epoch format). Intervals are listed by their end times in epoch format.
        The requested date range in one API hit cannot be more than 7 days and the requested start at must be within 2 years from current time.
        If the start_at specified is earlier than the system's first reported date, then midnight of the system's first reported date is considered as start_at.
      operationId: GetSystemRgmStats
      parameters:
      - description: Unique numeric ID of the system.
        explode: false
        in: path
        name: system_id
        required: true
        schema:
          type: integer
        style: simple
      - description: "Start of period to report on in Unix epoch time. If no start\
          \ is specified, the assumed start is midnight today, in the timezone of\
          \ the system. If the start is earlier than one year ago, the response includes\
          \ an empty intervals list. If the start is earlier than the system's operational_date,\
          \ the response data begins at midnight of the first reported interval date."
        explode: true
        in: query
        name: start_at
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: "End of reporting period in Unix epoch time. If no end is specified,\
          \ default to the time of the request or (start time + 1 week), whichever\
          \ is earlier. If the end is later than the last reported interval the response\
          \ data ends with the last reported interval."
        explode: true
        in: query
        name: end_at
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSystemRgmStatsResponse'
          description: rgm_stats
        "401":
          content:
            application/json:
              example:
                message: Not Authorized
                details: User is not authorized
                code: 401
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                message: Forbidden
                details: Not authorized to access this resource
                code: 403
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Forbidden
        "404":
          content:
            application/json:
              example:
                message: Not Found
                details: "System not found for {:id=>\"1\"}"
                code: 404
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Not Found
        "405":
          content:
            application/json:
              example:
                reason: "405"
                message:
                - Method not allowed
              schema:
                $ref: '#/components/schemas/MethodNotAllowedError'
          description: Method Not Allowed
        "422":
          content:
            application/json:
              example:
                message: Unprocessable Entity
                details: Requested date range is invalid for this system
                code: 422
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              example:
                message: Too Many Requests
                details: Usage limit exceeded for plan Kilowatt
                code: 429
                period: minute
                period_start: 1623825660
                period_end: 1623825720
                limit: 5
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
          description: Too Many Requests
        "500":
          content:
            application/json:
              examples:
                InternalServerError:
                  value:
                    message: Internal Server Error
                    details: "Problem parsing time. Is time passed correctly in the\
                      \ following fields {:start_date=>\"2019-08-33\", :end_at=>\"\
                      2019-08-29\"}"
                    code: 500
                DataTemporarilyUnavailableError:
                  value:
                    errorCode: 7
                    errorMessages:
                    - Data is temporarily unavailable
              schema:
                $ref: '#/components/schemas/GetSystems_500_response'
          description: Internal Server Error
        "501":
          content:
            application/json:
              example:
                reason: "501"
                message:
                - Not Implemented
              schema:
                $ref: '#/components/schemas/NotImplementedError'
          description: Not Implemented
      summary: rgm_stats
      tags:
      - Site Level Production Monitoring
  /systems/{system_id}/consumption_lifetime:
    get:
      description: |-
        Returns a daily time series of energy consumption as measured by the consumption meter installed on the specified system. All measurements are in Watt hours.
        The time series includes one entry for each day from the start_date to the end_date. There are no gaps in the time series.
        If the response includes trailing zeroes, such as [909, 4970, 0, 0, 0], then no data has been reported for the last three days.
      operationId: GetSystemConsumptionLifetime
      parameters:
      - description: Unique numeric ID of the system.
        explode: false
        in: path
        name: system_id
        required: true
        schema:
          type: integer
        style: simple
      - description: "Requested start date of the time series data. Defaults to the\
          \ system's operational date. If the start_date is earlier than the system's\
          \ operational_date, then the response data begins with the system operational_date\
          \ as start_date. Pass as string in YYYY-MM-DD format."
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: "End date of the time series data. Defaults to yesterday. If\
          \ the end_date is later than yesterday, then the response data ends with\
          \ yesterday as end_date. Pass as string in YYYY-MM-DD format."
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          format: date
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSystemConsumptionLifetimeResponse'
          description: consumption_lifetime
        "401":
          content:
            application/json:
              example:
                message: Not Authorized
                details: User is not authorized
                code: 401
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                message: Forbidden
                details: Not authorized to access this resource
                code: 403
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Forbidden
        "404":
          content:
            application/json:
              example:
                message: Not Found
                details: "System not found for {:id=>\"1\"}"
                code: 404
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Not Found
        "405":
          content:
            application/json:
              example:
                reason: "405"
                message:
                - Method not allowed
              schema:
                $ref: '#/components/schemas/MethodNotAllowedError'
          description: Method Not Allowed
        "422":
          content:
            application/json:
              example:
                message: Unprocessable Entity
                details: Requested date is in the future
                code: 422
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              example:
                message: Too Many Requests
                details: Usage limit exceeded for plan Kilowatt
                code: 429
                period: minute
                period_start: 1623825660
                period_end: 1623825720
                limit: 5
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
          description: Too Many Requests
        "500":
          content:
            application/json:
              examples:
                InternalServerError:
                  value:
                    message: Internal Server Error
                    details: "Problem parsing time. Is time passed correctly in the\
                      \ following fields {:start_date=>\"2019-08-33\", :end_at=>\"\
                      2019-08-29\"}"
                    code: 500
                DataTemporarilyUnavailableError:
                  value:
                    errorCode: 7
                    errorMessages:
                    - Data is temporarily unavailable
              schema:
                $ref: '#/components/schemas/GetSystems_500_response'
          description: Internal Server Error
        "501":
          content:
            application/json:
              example:
                reason: "501"
                message:
                - Not Implemented
              schema:
                $ref: '#/components/schemas/NotImplementedError'
          description: Not Implemented
      summary: consumption_lifetime
      tags:
      - Site Level Consumption Monitoring
  /systems/{system_id}/energy_lifetime:
    get:
      description: |-
        Returns a daily time series of energy produced by the system over its lifetime. All measurements are in Watt hours.
        The time series includes one entry for each day from the start_date to the end_date with no gaps in the time series.
        If the response includes trailing zeroes, such as [909, 4970, 0, 0, 0], then no energy has been reported for the last days in the series.
        If the system has a meter, the time series includes data as measured by the microinverters until the first full day after the meter has been installed.
        Later, it switches to using the data as measured by the meter. This is called the "merged time series".
        The attribute 'meter_start_date' indicates the time when the meter measurements begin to be used.
        You can retrieve the complete time series from the meter and from the microinverters by adding the parameter production=all to the request.
      operationId: GetSystemEnergyLifetime
      parameters:
      - description: Unique numeric ID of the system.
        explode: false
        in: path
        name: system_id
        required: true
        schema:
          type: integer
        style: simple
      - description: "Start date of the time series data. Defaults to the system's\
          \ operational date. If the start_date is earlier than the system's operational_date,\
          \ then the response data begins with the system operational_date as start_date.\
          \ Pass as string in YYYY-MM-DD format."
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: "End date of the time series data. Defaults to yesterday. If\
          \ the end_date is later than yesterday, then the response data ends with\
          \ yesterday as end_date. Pass as string in YYYY-MM-DD format."
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: "When 'all', returns the merged time series plus the time series\
          \ as reported by the microinverters and the meter on the system. Other values\
          \ are ignored."
        explode: true
        in: query
        name: production
        required: false
        schema:
          $ref: '#/components/schemas/SystemEnergyLifetimeProductionEnum'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSystemEnergyLifetimeResponse'
          description: "When the query parameters include \"production=all\", returns\
            \ meter and microinverter-measured time series."
        "401":
          content:
            application/json:
              example:
                message: Not Authorized
                details: User is not authorized
                code: 401
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                message: Forbidden
                details: Not authorized to access this resource
                code: 403
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Forbidden
        "404":
          content:
            application/json:
              example:
                message: Not Found
                details: "System not found for {:id=>\"1\"}"
                code: 404
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Not Found
        "405":
          content:
            application/json:
              example:
                reason: "405"
                message:
                - Method not allowed
              schema:
                $ref: '#/components/schemas/MethodNotAllowedError'
          description: Method Not Allowed
        "422":
          content:
            application/json:
              example:
                message: Unprocessable Entity
                details: Requested date range is invalid for this system
                code: 422
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              example:
                message: Too Many Requests
                details: Usage limit exceeded for plan Kilowatt
                code: 429
                period: minute
                period_start: 1623825660
                period_end: 1623825720
                limit: 5
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
          description: Too Many Requests
        "500":
          content:
            application/json:
              examples:
                InternalServerError:
                  value:
                    message: Internal Server Error
                    details: "Problem parsing time. Is time passed correctly in the\
                      \ following fields {:start_date=>\"2019-08-33\", :end_at=>\"\
                      2019-08-29\"}"
                    code: 500
                DataTemporarilyUnavailableError:
                  value:
                    errorCode: 7
                    errorMessages:
                    - Data is temporarily unavailable
              schema:
                $ref: '#/components/schemas/GetSystems_500_response'
          description: Internal Server Error
        "501":
          content:
            application/json:
              example:
                reason: "501"
                message:
                - Not Implemented
              schema:
                $ref: '#/components/schemas/NotImplementedError'
          description: Not Implemented
      summary: energy_lifetime
      tags:
      - Site Level Production Monitoring
  /systems/{system_id}/battery_lifetime:
    get:
      description: "Returns a daily time series of energy charged into the batteries\
        \ and energy discharged from the batteries for a system over its lifetime.\
        \ All measurements are in Watt hours. The time series includes one entry for\
        \ each day from the start_date to the end_date with no gaps in the time series.\
        \ If the response includes trailing zeroes, such as [909, 4970, 0, 0, 0],\
        \ then no energy has been charged/discharged for the last days in the series."
      operationId: GetSystemBatteryLifetime
      parameters:
      - description: Unique numeric ID of the system.
        explode: false
        in: path
        name: system_id
        required: true
        schema:
          type: integer
        style: simple
      - description: "Requested start date of the time series data. Defaults to the\
          \ system's operational date. If the start_date is earlier than the system's\
          \ operational_date, then the response data begins with the system operational_date\
          \ as start_date. Pass as string in YYYY-MM-DD format."
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: "End date of the time series data. Defaults to yesterday. If\
          \ the end_date is later than yesterday, then the response data ends with\
          \ yesterday as end_date. Pass as string in YYYY-MM-DD format."
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          format: date
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSystemBatteryLifetimeResponse'
          description: battery_lifetime
        "401":
          content:
            application/json:
              example:
                message: Not Authorized
                details: User is not authorized
                code: 401
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                message: Forbidden
                details: Not authorized to access this resource
                code: 403
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Forbidden
        "404":
          content:
            application/json:
              example:
                message: Not Found
                details: "System not found for {:id=>\"1\"}"
                code: 404
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Not Found
        "405":
          content:
            application/json:
              example:
                reason: "405"
                message:
                - Method not allowed
              schema:
                $ref: '#/components/schemas/MethodNotAllowedError'
          description: Method Not Allowed
        "422":
          content:
            application/json:
              example:
                message: Unprocessable Entity
                details: Requested date is in the future
                code: 422
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              example:
                message: Too Many Requests
                details: Usage limit exceeded for plan Kilowatt
                code: 429
                period: minute
                period_start: 1623825660
                period_end: 1623825720
                limit: 5
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
          description: Too Many Requests
        "500":
          content:
            application/json:
              examples:
                InternalServerError:
                  value:
                    message: Internal Server Error
                    details: "Problem parsing time. Is time passed correctly in the\
                      \ following fields {:start_date=>\"2019-08-33\", :end_at=>\"\
                      2019-08-29\"}"
                    code: 500
                DataTemporarilyUnavailableError:
                  value:
                    errorCode: 7
                    errorMessages:
                    - Data is temporarily unavailable
              schema:
                $ref: '#/components/schemas/GetSystems_500_response'
          description: Internal Server Error
        "501":
          content:
            application/json:
              example:
                reason: "501"
                message:
                - Not Implemented
              schema:
                $ref: '#/components/schemas/NotImplementedError'
          description: Not Implemented
      summary: battery_lifetime
      tags:
      - Site Level Consumption Monitoring
  /systems/{system_id}/energy_import_lifetime:
    get:
      description: "Returns a daily time series of energy imported to the grid by\
        \ the system over its lifetime. All measurements are in Watt hours. The time\
        \ series includes one entry for each day from the start_date to the end_date\
        \ with no gaps in the time series. If the response contains trailing zeroes,\
        \ such as [909, 4970, 0, 0, 0], then no energy has been imported for the last\
        \ days in the series."
      operationId: GetSystemEnergyImportLifetime
      parameters:
      - description: Unique numeric ID of the system.
        explode: false
        in: path
        name: system_id
        required: true
        schema:
          type: integer
        style: simple
      - description: "Requested start date of the time series data. Defaults to the\
          \ system's operational date. If the start_date is earlier than the system's\
          \ operational_date, then the response data begins with the system operational_date\
          \ as start_date. Pass as string in YYYY-MM-DD format."
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: "End date of the time series data. Defaults to yesterday. If\
          \ the end_date is later than yesterday, then the response data ends with\
          \ yesterday as end_date. Pass as string in YYYY-MM-DD format."
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          format: date
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSystemEnergyImportLifetimeResponse'
          description: import_lifetime
        "401":
          content:
            application/json:
              example:
                message: Not Authorized
                details: User is not authorized
                code: 401
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                message: Forbidden
                details: Not authorized to access this resource
                code: 403
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Forbidden
        "404":
          content:
            application/json:
              example:
                message: Not Found
                details: "System not found for {:id=>\"1\"}"
                code: 404
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Not Found
        "405":
          content:
            application/json:
              example:
                reason: "405"
                message:
                - Method not allowed
              schema:
                $ref: '#/components/schemas/MethodNotAllowedError'
          description: Method Not Allowed
        "422":
          content:
            application/json:
              example:
                message: Unprocessable Entity
                details: Requested date is in the future
                code: 422
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              example:
                message: Too Many Requests
                details: Usage limit exceeded for plan Kilowatt
                code: 429
                period: minute
                period_start: 1623825660
                period_end: 1623825720
                limit: 5
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
          description: Too Many Requests
        "500":
          content:
            application/json:
              examples:
                InternalServerError:
                  value:
                    message: Internal Server Error
                    details: "Problem parsing time. Is time passed correctly in the\
                      \ following fields {:start_date=>\"2019-08-33\", :end_at=>\"\
                      2019-08-29\"}"
                    code: 500
                DataTemporarilyUnavailableError:
                  value:
                    errorCode: 7
                    errorMessages:
                    - Data is temporarily unavailable
              schema:
                $ref: '#/components/schemas/GetSystems_500_response'
          description: Internal Server Error
        "501":
          content:
            application/json:
              example:
                reason: "501"
                message:
                - Not Implemented
              schema:
                $ref: '#/components/schemas/NotImplementedError'
          description: Not Implemented
      summary: import_lifetime
      tags:
      - Site Level Consumption Monitoring
  /systems/{system_id}/energy_export_lifetime:
    get:
      description: "Returns a daily time series of energy exported to the grid by\
        \ the system over its lifetime. All measurements are in Watt-hours. The time\
        \ series includes one entry for each day from the start_date to the end_date\
        \ with no gaps in the time series. If the response contains trailing zeroes,\
        \ such as [909, 4970, 0, 0, 0], then no energy has been exported for the last\
        \ days in the series."
      operationId: GetSystemEnergyExportLifetime
      parameters:
      - description: Unique numeric ID of the system.
        explode: false
        in: path
        name: system_id
        required: true
        schema:
          type: integer
        style: simple
      - description: "Requested start date of the time series data. Defaults to the\
          \ system's operational date. If the start_date is earlier than the system's\
          \ operational_date, then the response data begins with the system operational_date\
          \ as start_date. Pass as string in YYYY-MM-DD format."
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: "End date of the time series data. Defaults to yesterday. If\
          \ the end_date is later than yesterday, then the response data ends with\
          \ yesterday as end_date. Pass as string in YYYY-MM-DD format."
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          format: date
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSystemEnergyExportLifetimeResponse'
          description: export_lifetime
        "401":
          content:
            application/json:
              example:
                message: Not Authorized
                details: User is not authorized
                code: 401
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                message: Forbidden
                details: Not authorized to access this resource
                code: 403
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Forbidden
        "404":
          content:
            application/json:
              example:
                message: Not Found
                details: "System not found for {:id=>\"1\"}"
                code: 404
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Not Found
        "405":
          content:
            application/json:
              example:
                reason: "405"
                message:
                - Method not allowed
              schema:
                $ref: '#/components/schemas/MethodNotAllowedError'
          description: Method Not Allowed
        "422":
          content:
            application/json:
              example:
                message: Unprocessable Entity
                details: Requested date is in the future
                code: 422
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              example:
                message: Too Many Requests
                details: Usage limit exceeded for plan Kilowatt
                code: 429
                period: minute
                period_start: 1623825660
                period_end: 1623825720
                limit: 5
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
          description: Too Many Requests
        "500":
          content:
            application/json:
              examples:
                InternalServerError:
                  value:
                    message: Internal Server Error
                    details: "Problem parsing time. Is time passed correctly in the\
                      \ following fields {:start_date=>\"2019-08-33\", :end_at=>\"\
                      2019-08-29\"}"
                    code: 500
                DataTemporarilyUnavailableError:
                  value:
                    errorCode: 7
                    errorMessages:
                    - Data is temporarily unavailable
              schema:
                $ref: '#/components/schemas/GetSystems_500_response'
          description: Internal Server Error
        "501":
          content:
            application/json:
              example:
                reason: "501"
                message:
                - Not Implemented
              schema:
                $ref: '#/components/schemas/NotImplementedError'
          description: Not Implemented
      summary: export_lifetime
      tags:
      - Site Level Consumption Monitoring
  /systems/inverters_summary_by_envoy_or_site:
    get:
      description: Returns the microinverters summary based on the specified active
        envoy serial number or system.
      operationId: GetInvertersSummaryByEnvoyOrSite
      parameters:
      - description: Site ID. The response will contain only those microinverters
          reporting to one of the active envoys of the given site.
        explode: true
        in: query
        name: site_id
        required: false
        schema:
          type: integer
        style: form
      - description: Active envoy serial number. Only microinverters reporting to
          the given active envoy will be present in the response.
        explode: true
        in: query
        name: envoy_serial_number
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetInvertersSummaryByEnvoyOrSiteResponse'
          description: inverters_summary_by_envoy_or_site
        "401":
          content:
            application/json:
              example:
                message: Not Authorized
                details: User is not authorized
                code: 401
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Unauthorized
        "405":
          content:
            application/json:
              example:
                reason: "405"
                message:
                - Method not allowed
              schema:
                $ref: '#/components/schemas/MethodNotAllowedError'
          description: Method Not Allowed
        "422":
          content:
            application/json:
              example:
                message: Unprocessable Entity
                details: Envoy serial number or Site ID mandatory
                code: 422
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              example:
                message: Too Many Requests
                details: Usage limit exceeded for plan Kilowatt
                code: 429
                period: minute
                period_start: 1623825660
                period_end: 1623825720
                limit: 5
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
          description: Too Many Requests
        "500":
          content:
            application/json:
              examples:
                InternalServerError:
                  value:
                    message: Internal Server Error
                    details: "Problem parsing time. Is time passed correctly in the\
                      \ following fields {:start_date=>\"2019-08-33\", :end_at=>\"\
                      2019-08-29\"}"
                    code: 500
                DataTemporarilyUnavailableError:
                  value:
                    errorCode: 7
                    errorMessages:
                    - Data is temporarily unavailable
              schema:
                $ref: '#/components/schemas/GetSystems_500_response'
          description: Internal Server Error
        "501":
          content:
            application/json:
              example:
                reason: "501"
                message:
                - Not Implemented
              schema:
                $ref: '#/components/schemas/NotImplementedError'
          description: Not Implemented
      summary: inverters_summary_by_envoy_or_site
      tags:
      - System Details
  /systems/{system_id}/telemetry/production_micro:
    get:
      description: |-
        Retrieves telemetry for all the production micros of a system.
        If no start_at is specified, defaults to midnight today, in the timezone of the system.
        If the start_at specified is earlier than the system's first reported date, then midnight of the system's first reported date is considered as start_at.
        The end_at is calculated as the minimum of the time of the request and (start time + granularity).
        The meaning of granularity is as follows:

        If granularity is 15mins, maximum 3 intervals will appear in response. If granularity is day, maximum 288 intervals will appear in response where each interval is of 5 mins duration.

        The requested start date must be within 2 years from current date.
        By default start_at will appear in response. If start_date parameter is passed in the url then start_date field will appear in response.
        By default end_at will appear in response. If end_date parameter is passed in the url then end_date field will appear in response.
      operationId: GetSystemProductionMicroTelemetry
      parameters:
      - description: Unique numeric ID of the system.
        explode: false
        in: path
        name: system_id
        required: true
        schema:
          type: integer
        style: simple
      - description: Start time for fetching the telemetry data in Epoch time format.
          Alternatively one can use start_date in place of start_at for passing the
          start date as string in YYYY-MM-DD format. By default start_at will appear
          in response. If start_date parameter is passed in the url then start_date
          field will appear in response.
        explode: true
        in: query
        name: start_at
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Granularity of the telemetry data. Default is 'day'.
        explode: true
        in: query
        name: granularity
        required: false
        schema:
          $ref: '#/components/schemas/TelemetryGranularityEnum'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSystemProductionMicroTelemetryResponse'
          description: Telemetry for all production micros.
        "401":
          content:
            application/json:
              example:
                message: Not Authorized
                details: User is not authorized
                code: 401
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                message: Forbidden
                details: Not authorized to access this resource
                code: 403
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Forbidden
        "404":
          content:
            application/json:
              example:
                message: Not Found
                details: "System not found for {:id=>\"1\"}"
                code: 404
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Not Found
        "405":
          content:
            application/json:
              example:
                reason: "405"
                message:
                - Method not allowed
              schema:
                $ref: '#/components/schemas/MethodNotAllowedError'
          description: Method Not Allowed
        "422":
          content:
            application/json:
              example:
                message: Unprocessable Entity
                details: "Invalid request because of 'Requested date range is invalid\
                  \ for this system'. {:start_at=>1566930600, :end_at=>1565333100,\
                  \ :first_interval=>1565072100, :last_interval=>1565333700}"
                code: 422
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              example:
                message: Too Many Requests
                details: Usage limit exceeded for plan Kilowatt
                code: 429
                period: minute
                period_start: 1623825660
                period_end: 1623825720
                limit: 5
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
          description: Too Many Requests
        "500":
          content:
            application/json:
              examples:
                InternalServerError:
                  value:
                    message: Internal Server Error
                    details: "Problem parsing time. Is time passed correctly in the\
                      \ following fields {:start_date=>\"2019-08-33\", :end_at=>\"\
                      2019-08-29\"}"
                    code: 500
                DataTemporarilyUnavailableError:
                  value:
                    errorCode: 7
                    errorMessages:
                    - Data is temporarily unavailable
              schema:
                $ref: '#/components/schemas/GetSystems_500_response'
          description: Internal Server Error
        "501":
          content:
            application/json:
              example:
                reason: "501"
                message:
                - Not Implemented
              schema:
                $ref: '#/components/schemas/NotImplementedError'
          description: Not Implemented
      summary: Retrieves telemetry for all production micros for a system
      tags:
      - Site Level Production Monitoring
  /systems/{system_id}/telemetry/production_meter:
    get:
      description: |-
        Retrieves telemetry for all the production meters of a system.
        If no start_at is specified, defaults to midnight today, in the timezone of the system.
        If the start_at specified is earlier than the system's first reported date, then midnight of the system's first reported date is considered as start_at.
        The end_at is calculated as the minimum of the time of the request and (start time + granularity).
        The meaning of granularity is as follows:

        If granularity is 15mins, maximum 1 interval will appear in response.
        If granularity is day, maximum 96 intervals, and if granularity is week, maximum 672 intervals, will appear in response where each interval is of 15 mins duration.

        The requested start date must be within 2 years from current date.
        By default start_at will appear in response. If start_date parameter is passed in the url then start_date field will appear in response.
        By default end_at will appear in response. If end_date parameter is passed in the url then end_date field will appear in response.
      operationId: GetSystemProductionMeterTelemetry
      parameters:
      - description: Unique numeric ID of the system.
        explode: false
        in: path
        name: system_id
        required: true
        schema:
          type: integer
        style: simple
      - description: Start time for fetching the telemetry data in Epoch time format.
          Alternatively one can use start_date in place of start_at for passing the
          start date as string in YYYY-MM-DD format. By default start_at will appear
          in response. If start_date parameter is passed in the url then start_date
          field will appear in response.
        explode: true
        in: query
        name: start_at
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Granularity of the telemetry data. Default is 'day'.
        explode: true
        in: query
        name: granularity
        required: false
        schema:
          $ref: '#/components/schemas/TelemetryGranularityEnum'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSystemProductionMeterTelemetryResponse'
          description: Telemetry for all production meters.
        "401":
          content:
            application/json:
              example:
                message: Not Authorized
                details: User is not authorized
                code: 401
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                message: Forbidden
                details: Not authorized to access this resource
                code: 403
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Forbidden
        "404":
          content:
            application/json:
              example:
                message: Not Found
                details: "System not found for {:id=>\"1\"}"
                code: 404
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Not Found
        "405":
          content:
            application/json:
              example:
                reason: "405"
                message:
                - Method not allowed
              schema:
                $ref: '#/components/schemas/MethodNotAllowedError'
          description: Method Not Allowed
        "422":
          content:
            application/json:
              example:
                message: Unprocessable Entity
                details: "Invalid request because of 'Requested date range is invalid\
                  \ for this system'. {:start_at=>1566930600, :end_at=>1565333100,\
                  \ :first_interval=>1565072100, :last_interval=>1565333700}"
                code: 422
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              example:
                message: Too Many Requests
                details: Usage limit exceeded for plan Kilowatt
                code: 429
                period: minute
                period_start: 1623825660
                period_end: 1623825720
                limit: 5
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
          description: Too Many Requests
        "500":
          content:
            application/json:
              examples:
                InternalServerError:
                  value:
                    message: Internal Server Error
                    details: "Problem parsing time. Is time passed correctly in the\
                      \ following fields {:start_date=>\"2019-08-33\", :end_at=>\"\
                      2019-08-29\"}"
                    code: 500
                DataTemporarilyUnavailableError:
                  value:
                    errorCode: 7
                    errorMessages:
                    - Data is temporarily unavailable
              schema:
                $ref: '#/components/schemas/GetSystems_500_response'
          description: Internal Server Error
        "501":
          content:
            application/json:
              example:
                reason: "501"
                message:
                - Not Implemented
              schema:
                $ref: '#/components/schemas/NotImplementedError'
          description: Not Implemented
      summary: Retrieves telemetry for all production meters for a system
      tags:
      - Site Level Production Monitoring
  /systems/{system_id}/telemetry/battery:
    get:
      description: |-
        Retrieves telemetry for all the batteries of a system.
        If no start_at is specified, defaults to midnight today, in the timezone of the system.
        If the start_at specified is earlier than the system's first reported date, then midnight of the system's first reported date is considered as start_at.
        The end_at is calculated as the minimum of the time of the request and (start time + granularity).
        The meaning of granularity is as follows:

        If granularity is 15mins, maximum 1 interval will appear in response.
        If granularity is day, maximum 96 intervals, and if granularity is week, maximum 672 intervals, will appear in response where each interval is of 15 mins duration.

        The requested start date must be within 2 years from current date.
        By default start_at will appear in response. If start_date parameter is passed in the url then start_date field will appear in response.
        By default end_at will appear in response. If end_date parameter is passed in the url then end_date field will appear in response.
      operationId: GetSystemBatteryTelemetry
      parameters:
      - description: Unique numeric ID of the system.
        explode: false
        in: path
        name: system_id
        required: true
        schema:
          type: integer
        style: simple
      - description: Start time for fetching the telemetry data in Epoch time format.
          Alternatively one can use start_date in place of start_at for passing the
          start date as string in YYYY-MM-DD format. By default start_at will appear
          in response. If start_date parameter is passed in the url then start_date
          field will appear in response.
        explode: true
        in: query
        name: start_at
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Granularity of the telemetry data. Default is 'day'.
        explode: true
        in: query
        name: granularity
        required: false
        schema:
          $ref: '#/components/schemas/TelemetryGranularityEnum'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSystemBatteryTelemetryResponse'
          description: Telemetry for batteries.
        "401":
          content:
            application/json:
              example:
                message: Not Authorized
                details: User is not authorized
                code: 401
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                message: Forbidden
                details: Not authorized to access this resource
                code: 403
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Forbidden
        "404":
          content:
            application/json:
              example:
                message: Not Found
                details: "System not found for {:id=>\"1\"}"
                code: 404
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Not Found
        "405":
          content:
            application/json:
              example:
                reason: "405"
                message:
                - Method not allowed
              schema:
                $ref: '#/components/schemas/MethodNotAllowedError'
          description: Method Not Allowed
        "422":
          content:
            application/json:
              example:
                message: Unprocessable Entity
                details: "Invalid request because of 'Requested date range is invalid\
                  \ for this system'. {:start_at=>1566930600, :end_at=>1565333100,\
                  \ :first_interval=>1565072100, :last_interval=>1565333700}"
                code: 422
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              example:
                message: Too Many Requests
                details: Usage limit exceeded for plan Kilowatt
                code: 429
                period: minute
                period_start: 1623825660
                period_end: 1623825720
                limit: 5
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
          description: Too Many Requests
        "500":
          content:
            application/json:
              examples:
                InternalServerError:
                  value:
                    message: Internal Server Error
                    details: "Problem parsing time. Is time passed correctly in the\
                      \ following fields {:start_date=>\"2019-08-33\", :end_at=>\"\
                      2019-08-29\"}"
                    code: 500
                DataTemporarilyUnavailableError:
                  value:
                    errorCode: 7
                    errorMessages:
                    - Data is temporarily unavailable
              schema:
                $ref: '#/components/schemas/GetSystems_500_response'
          description: Internal Server Error
        "501":
          content:
            application/json:
              example:
                reason: "501"
                message:
                - Not Implemented
              schema:
                $ref: '#/components/schemas/NotImplementedError'
          description: Not Implemented
      summary: Retrieves telemetry for all batteries for a system
      tags:
      - Site Level Consumption Monitoring
  /systems/{system_id}/telemetry/consumption_meter:
    get:
      description: |-
        Retrieves telemetry for all the consumption meters of a system.
        If the start_at specified is earlier than the system's first reported date, then midnight of the system's first reported date is considered as start_at.
        The end_at is calculated as the minimum of the time of the request and (start time + granularity).
        The meaning of granularity is as follows:

        If granularity is 15mins, maximum 1 interval will appear in response.
        If granularity is day, maximum 96 intervals, and if granularity is week, maximum 672 intervals, will appear in response where each interval is of 15 mins duration.

        The requested start date must be within 2 years from current date.
        By default start_at will appear in response. If start_date parameter is passed in the url then start_date field will appear in response.
        By default end_at will appear in response. If end_date parameter is passed in the url then end_date field will appear in response.
      operationId: GetSystemConsumptionMeterTelemetry
      parameters:
      - description: Unique numeric ID of the system.
        explode: false
        in: path
        name: system_id
        required: true
        schema:
          type: integer
        style: simple
      - description: "Requested start time for telemetry data in Epoch time format.\
          \ Alternatively one can use start_date in place of start_at for passing\
          \ the start date as string in YYYY-MM-DD format. If no start_at is specified,\
          \ defaults to midnight today, in the timezone of the system. If the start_at\
          \ specified is earlier than the system's first reported date, then the system\
          \ first reported date is considered as start_at. By default start_at will\
          \ appear in response. If start_date parameter is passed in the url then\
          \ start_date field will appear in response."
        explode: true
        in: query
        name: start_at
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Granularity of the telemetry data. Default is 'day'.
        explode: true
        in: query
        name: granularity
        required: false
        schema:
          $ref: '#/components/schemas/TelemetryGranularityEnum'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSystemConsumptionMeterTelemetryResponse'
          description: Telemetry for all consumption meters.
        "401":
          content:
            application/json:
              example:
                message: Not Authorized
                details: User is not authorized
                code: 401
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                message: Forbidden
                details: Not authorized to access this resource
                code: 403
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Forbidden
        "404":
          content:
            application/json:
              example:
                message: Not Found
                details: "System not found for {:id=>\"1\"}"
                code: 404
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Not Found
        "405":
          content:
            application/json:
              example:
                reason: "405"
                message:
                - Method not allowed
              schema:
                $ref: '#/components/schemas/MethodNotAllowedError'
          description: Method Not Allowed
        "422":
          content:
            application/json:
              example:
                message: Unprocessable Entity
                details: "Invalid request because of 'Requested date range is invalid\
                  \ for this system'. {:start_at=>1566930600, :end_at=>1565333100,\
                  \ :first_interval=>1565072100, :last_interval=>1565333700}"
                code: 422
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              example:
                message: Too Many Requests
                details: Usage limit exceeded for plan Kilowatt
                code: 429
                period: minute
                period_start: 1623825660
                period_end: 1623825720
                limit: 5
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
          description: Too Many Requests
        "500":
          content:
            application/json:
              examples:
                InternalServerError:
                  value:
                    message: Internal Server Error
                    details: "Problem parsing time. Is time passed correctly in the\
                      \ following fields {:start_date=>\"2019-08-33\", :end_at=>\"\
                      2019-08-29\"}"
                    code: 500
                DataTemporarilyUnavailableError:
                  value:
                    errorCode: 7
                    errorMessages:
                    - Data is temporarily unavailable
              schema:
                $ref: '#/components/schemas/GetSystems_500_response'
          description: Internal Server Error
        "501":
          content:
            application/json:
              example:
                reason: "501"
                message:
                - Not Implemented
              schema:
                $ref: '#/components/schemas/NotImplementedError'
          description: Not Implemented
      summary: Retrieves telemetry for all consumption meters for a system
      tags:
      - Site Level Consumption Monitoring
  /systems/{system_id}/devices/micros/{serial_no}/telemetry:
    get:
      description: |-
        Retrieves telemetry for single micro/pcu.
        If no start_at is specified, defaults to midnight today, in the timezone of the system.
        If the start_at specified is earlier than the system's first reported date, then midnight of the system's first reported date is considered as start_at.
        The end_at is calculated as the minimum of the time of the request and (start time + granularity).
        The meaning of granularity is as follows:

        If granularity is 15mins, maximum 3 intervals will appear in response. If granularity is day, maximum 288 intervals will appear in response where each interval is of 5 mins duration.

        The requested start date must be within 2 years from current date.
        By default start_at will appear in response. If start_date parameter is passed in the url then start_date field will appear in response.
        By default end_at will appear in response. If end_date parameter is passed in the url then end_date field will appear in response.
      operationId: GetSystemMicroDeviceTelemetry
      parameters:
      - description: Unique numeric ID of the system.
        explode: false
        in: path
        name: system_id
        required: true
        schema:
          type: integer
        style: simple
      - description: Serial number of the individual solar Microinverter.
        explode: false
        in: path
        name: serial_no
        required: true
        schema:
          type: string
        style: simple
      - description: Start time for fetching the telemetry data in Epoch time format.
          Alternatively one can use start_date in place of start_at for passing the
          start date as string in YYYY-MM-DD format. By default start_at will appear
          in response. If start_date parameter is passed in the url then start_date
          field will appear in response.
        explode: true
        in: query
        name: start_at
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Granularity of the telemetry data. Default is 'day'.
        explode: true
        in: query
        name: granularity
        required: false
        schema:
          $ref: '#/components/schemas/TelemetryGranularityEnum'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSystemMicroDeviceTelemetryResponse'
          description: Telemetry for micro.
        "401":
          content:
            application/json:
              example:
                message: Not Authorized
                details: User is not authorized
                code: 401
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                message: Forbidden
                details: Not authorized to access this resource
                code: 403
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Forbidden
        "404":
          content:
            application/json:
              example:
                message: Not Found
                details: "System not found for {:id=>\"1\"}"
                code: 404
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Not Found
        "405":
          content:
            application/json:
              example:
                reason: "405"
                message:
                - Method not allowed
              schema:
                $ref: '#/components/schemas/MethodNotAllowedError'
          description: Method Not Allowed
        "422":
          content:
            application/json:
              example:
                message: Unprocessable Entity
                details: "Invalid request because of 'Requested date range is invalid\
                  \ for this system'. {:start_at=>1566930600, :end_at=>1565333100,\
                  \ :first_interval=>1565072100, :last_interval=>1565333700}"
                code: 422
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              example:
                message: Too Many Requests
                details: Usage limit exceeded for plan Kilowatt
                code: 429
                period: minute
                period_start: 1623825660
                period_end: 1623825720
                limit: 5
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
          description: Too Many Requests
        "500":
          content:
            application/json:
              examples:
                InternalServerError:
                  value:
                    message: Internal Server Error
                    details: "Problem parsing time. Is time passed correctly in the\
                      \ following fields {:start_date=>\"2019-08-33\", :end_at=>\"\
                      2019-08-29\"}"
                    code: 500
                DataTemporarilyUnavailableError:
                  value:
                    errorCode: 7
                    errorMessages:
                    - Data is temporarily unavailable
              schema:
                $ref: '#/components/schemas/GetSystems_500_response'
          description: Internal Server Error
        "501":
          content:
            application/json:
              example:
                reason: "501"
                message:
                - Not Implemented
              schema:
                $ref: '#/components/schemas/NotImplementedError'
          description: Not Implemented
      summary: Retrieves telemetry for single micro/pcu
      tags:
      - Device Level Production Monitoring
  /systems/{system_id}/devices/acbs/{serial_no}/telemetry:
    get:
      description: |-
        Retrieves telemetry for single ACB.
        If no start_at is specified, defaults to midnight today, in the timezone of the system.
        If the start_at specified is earlier than the system's first reported date, then midnight of the system's first reported date is considered as start_at.
        The end_at is calculated as the minimum of the time of the request and (start time + granularity).
        The meaning of granularity is as follows:

        If granularity is 15mins, maximum 1 interval will appear in response.
        If granularity is day, maximum 96 intervals, and if granularity is week, maximum 672 intervals, will appear in response where each interval is of 15 mins duration.

        The requested start date must be within 2 years from current date.
        By default start_at will appear in response. If start_date parameter is passed in the url then start_date field will appear in response.
        By default end_at will appear in response. If end_date parameter is passed in the url then end_date field will appear in response.
      operationId: GetSystemAcbDeviceTelemetry
      parameters:
      - description: Unique numeric ID of the system.
        explode: false
        in: path
        name: system_id
        required: true
        schema:
          type: integer
        style: simple
      - description: Serial number of the acb.
        explode: false
        in: path
        name: serial_no
        required: true
        schema:
          type: string
        style: simple
      - description: Start time for fetching the telemetry data in Epoch time format.
          Alternatively one can use start_date in place of start_at for passing the
          start date as string in YYYY-MM-DD format. By default start_at will appear
          in response. If start_date parameter is passed in the url then start_date
          field will appear in response.
        explode: true
        in: query
        name: start_at
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Granularity of the telemetry data. Default is 'day'.
        explode: true
        in: query
        name: granularity
        required: false
        schema:
          $ref: '#/components/schemas/TelemetryGranularityEnum'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSystemAcbDeviceTelemetryResponse'
          description: Telemetry for the ACB.
        "401":
          content:
            application/json:
              example:
                message: Not Authorized
                details: User is not authorized
                code: 401
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                message: Forbidden
                details: Not authorized to access this resource
                code: 403
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Forbidden
        "404":
          content:
            application/json:
              example:
                message: Not Found
                details: "System not found for {:id=>\"1\"}"
                code: 404
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Not Found
        "405":
          content:
            application/json:
              example:
                reason: "405"
                message:
                - Method not allowed
              schema:
                $ref: '#/components/schemas/MethodNotAllowedError'
          description: Method Not Allowed
        "422":
          content:
            application/json:
              example:
                message: Unprocessable Entity
                details: "Invalid request because of 'Requested date range is invalid\
                  \ for this system'. {:start_at=>1566930600, :end_at=>1565333100,\
                  \ :first_interval=>1565072100, :last_interval=>1565333700}"
                code: 422
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              example:
                message: Too Many Requests
                details: Usage limit exceeded for plan Kilowatt
                code: 429
                period: minute
                period_start: 1623825660
                period_end: 1623825720
                limit: 5
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
          description: Too Many Requests
        "500":
          content:
            application/json:
              examples:
                InternalServerError:
                  value:
                    message: Internal Server Error
                    details: "Problem parsing time. Is time passed correctly in the\
                      \ following fields {:start_date=>\"2019-08-33\", :end_at=>\"\
                      2019-08-29\"}"
                    code: 500
                DataTemporarilyUnavailableError:
                  value:
                    errorCode: 7
                    errorMessages:
                    - Data is temporarily unavailable
              schema:
                $ref: '#/components/schemas/GetSystems_500_response'
          description: Internal Server Error
[...]
