openapi: 3.0.1
info:
  description: "Commissioning API can be used to create and update activations on\
    \ a site, manage companies and users, update Tariff, etc."
  license:
    name: Enphase Energy API License Agreement.
    url: https://enphase.com/api-license-agreement-v4
  termsOfService: https://enphase.com/legal/terms-of-service
  title: The Enphase Commissioning API
  version: "4.0"
servers:
- url: https://api.enphaseenergy.com/api/v4
security:
- OAuth2: []
- ApiKey: []
paths:
  /partner/activations:
    get:
      description: "Returns a list of activations for which the user can make API\
        \ requests. There is a limit to the number of activations which can be returned\
        \ at one time. If the first request does not return a full list, use the 'next'\
        \ attribute in the response body to request the next page. By default, activations\
        \ are returned in batches of 100. The maximum page size is 1000. Provide only\
        \ valid filters. During filter the activations empty and invalid filter fields\
        \ are ignored. In case the installer ID doesn't exist, API will return an\
        \ empty array."
      operationId: GetPartnerActivations
      parameters:
      - description: "If the first request does not return a full list, use the 'next'\
          \ attribute in the response body to request the next page. By default, activations\
          \ are returned in batches of 100. The maximum page size is 1000. If the\
          \ returned list below the limit, then response does not include the 'next'\
          \ field."
        explode: true
        in: query
        name: next
        required: false
        schema:
          type: string
        style: form
      - description: There is a limit to the number of activations which can be returned
          at one time.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: "Filter activations by stage. Passing in_progress alone will\
          \ consider as you have passed all the 1,2,3,4 stages. Passing multiple stage\
          \ values using comma to filter. E.g. stage=1,2,3. Passing in_progress with\
          \ any other combination will give you empty systems."
        explode: true
        in: query
        name: stage
        required: false
        schema:
          $ref: '#/components/schemas/SystemStageEnum'
        style: form
      - description: Filter activations by company reference.
        explode: true
        in: query
        name: reference
        required: false
        schema:
          type: string
        style: form
      - description: Filter activations by installer ID.
        explode: true
        in: query
        name: installer_id
        required: false
        schema:
          type: integer
        style: form
      - description: Filter activations by system name.
        explode: true
        in: query
        name: system_name
        required: false
        schema:
          type: string
        style: form
      - description: "Filter activations by address. This will perform a partial search\
          \ and return if match found with street1, street2, country, state, zipcode\
          \ of the activation."
        explode: true
        in: query
        name: address
        required: false
        schema:
          type: string
        style: form
      - description: "Filter activations by region. Provide two latitude, longitude\
          \ values to find activations between them. Format 'latitude1,longitude1,latitude2,longitude2'\
          \ e.g value '44.968046,-94.420307,44.33328,-89.132008'."
        explode: true
        in: query
        name: region
        required: false
        schema:
          type: string
        style: form
      - description: "Filter activations by search. This will perform a partial search\
          \ and return if match found with system_name, reference, system_id, street1\
          \ and street2, country, state, zipcode of the activation."
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPartnerActivationsResponse'
          description: OK
        "401":
          content:
            application/json:
              example:
                reason: "401"
                message:
                - Not authorized to access requested resource.
                - API Key missing in url/headers!
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Unauthorized
        "405":
          content:
            application/json:
              example:
                reason: "405"
                message:
                - Method not allowed
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Method Not Allowed
        "422":
          content:
            application/json:
              example:
                errorMessages:
                - Invalid stage option 11
              schema:
                $ref: '#/components/schemas/UnprocessableEntityError'
          description: Unprocessable entity. The body contains error information in
            a hash of errorMessages and an optional errorCode.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
          description: Too Many Requests
        "501":
          content:
            application/json:
              example:
                reason: "501"
                message:
                - Not Implemented
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Not Implemented
      summary: List of Activations
      tags:
      - Activations
    post:
      description: Create new activation.
      operationId: CreatePartnerActivation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePartnerActivationRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePartnerActivationResponse'
          description: Created
        "401":
          content:
            application/json:
              example:
                reason: "401"
                message:
                - Not authorized to access requested resource.
                - API Key missing in url/headers!
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Unauthorized
        "405":
          content:
            application/json:
              example:
                reason: "405"
                message:
                - Method not allowed
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Method Not Allowed
        "422":
          content:
            application/json:
              example:
                errorCode: 11
                errorMessages:
                - "The system type must be residential, commercial, or other."
              schema:
                $ref: '#/components/schemas/UnprocessableEntityError'
          description: Unprocessable entity. The body contains error information in
            a hash of errorMessages and an optional errorCode.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
          description: Too Many Requests
        "501":
          content:
            application/json:
              example:
                reason: "501"
                message:
                - Not Implemented
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Not Implemented
      summary: Create new activation
      tags:
      - Activations
      x-codegen-request-body-name: params
  /partner/activations/{id}:
    get:
      description: "By default, the body of the response looks like the example below.\
        \ However, you can choose to retrieve more information about the activation\
        \ using response expansion, for example instead of returning only the owner's\
        \ name within the system hash, the response includes detailed information\
        \ about the owner by using expand=owner. You can also expand the owner's company\
        \ by using expand=owner.company. The response now includes information about\
        \ the owner and the company he belongs to, if any. By using expand=host will\
        \ include details about the system host. You can also expand the host's company\
        \ by using expand=host.company. The response now includes information about\
        \ the host and the company he belongs to."
      operationId: GetPartnerActivation
      parameters:
      - description: Enlighten ID of the activation(system). System-generated.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      - description: Retrieve more information about the activation. The expand query
          parameter is a comma-separated list of associations to expand.
        explode: true
        in: query
        name: expand
        required: false
        schema:
          $ref: '#/components/schemas/SystemExpandEnum'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPartnerActivationResponse'
          description: OK
        "401":
          content:
            application/json:
              example:
                reason: "401"
                message:
                - Not authorized to access requested resource.
                - API Key missing in url/headers!
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Unauthorized
        "404":
          content:
            application/json:
              example:
                reason: "404"
                message:
                - System not found
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Not Found
        "405":
          content:
            application/json:
              example:
                reason: "405"
                message:
                - Method not allowed
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Method Not Allowed
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
          description: Too Many Requests
        "501":
          content:
            application/json:
              example:
                reason: "501"
                message:
                - Not Implemented
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Not Implemented
      summary: Retrieves an Activation by ID
      tags:
      - Activations
    put:
      description: Update an activation.
      operationId: UpdatePartnerActivation
      parameters:
      - description: Enlighten ID of the activation(system). System-generated.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePartnerActivationRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatePartnerActivationResponse'
          description: OK
        "401":
          content:
            application/json:
              example:
                reason: "401"
                message:
                - Not authorized to access requested resource.
                - API Key missing in url/headers!
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Unauthorized
        "405":
          content:
            application/json:
              example:
                reason: "405"
                message:
                - Method not allowed
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Method Not Allowed
        "422":
          content:
            application/json:
              example:
                errorCode: 11
                errorMessages:
                - "The system type must be residential, commercial, or other."
              schema:
                $ref: '#/components/schemas/UnprocessableEntityError'
          description: Unprocessable entity. The body contains error information in
            a hash of errorMessages and an optional errorCode.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
          description: Too Many Requests
        "501":
          content:
            application/json:
              example:
                reason: "501"
                message:
                - Not Implemented
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Not Implemented
      summary: Update an activation.
      tags:
      - Activations
      x-codegen-request-body-name: params
  /activations/{id}:
    delete:
      description: "To delete an activation, the activation stage must be less than\
        \ 3 and there are no active devices associated with it."
      operationId: DeleteActivation
      parameters:
      - description: Enlighten ID of the activation(system).
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteActivationResponse'
          description: OK
        "401":
          content:
            application/json:
              example:
                reason: "401"
                message:
                - Not authorized to access requested resource.
                - API Key missing in url/headers!
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Unauthorized
        "404":
          content:
            application/json:
              example:
                reason: "404"
                message:
                - System not found
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Not Found
        "405":
          content:
            application/json:
              example:
                reason: "405"
                message:
                - Method not allowed
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Method Not Allowed
        "422":
          content:
            application/json:
              example:
                errorCode: 5
                errorMessages:
                - Devices are present on this system. Please retry after removing
                  devices
              schema:
                $ref: '#/components/schemas/UnprocessableEntityError'
          description: Unprocessable entity. The body contains error information in
            a hash of errorMessages and an optional errorCode.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
          description: Too Many Requests
        "501":
          content:
            application/json:
              example:
                reason: "501"
                message:
                - Not Implemented
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Not Implemented
      summary: Delete an activation by ID
      tags:
      - Activations
  /activations/{activation_id}/users/{user_id}:
    delete:
      description: Revokes a user's permission to view this system. Response status
        200 indicates the access was revoked. The user must be the owner or the host
        of an activation the API user can manage (or) Users created by API user (or)
        Users who belong to your company or its branches. In all other cases you will
        get 401 response.
      operationId: RevokeActivationUserAccess
      parameters:
      - description: Enlighten ID of the activation(system).
        explode: false
        in: path
        name: activation_id
        required: true
        schema:
          type: integer
        style: simple
      - description: Enlighten ID of the user which you want to revoke the access.
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevokeActivationUserAccessResponse'
          description: OK
        "401":
          content:
            application/json:
              example:
                reason: "401"
                message:
                - Not authorized to access requested resource.
                - API Key missing in url/headers!
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Unauthorized
        "404":
          content:
            application/json:
              example:
                reason: "404"
                message:
                - System not found
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Not Found
        "405":
          content:
            application/json:
              example:
                reason: "405"
                message:
                - Method not allowed
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Method Not Allowed
        "422":
          content:
            application/json:
              example:
                errorMessages:
                - Some error messages
              schema:
                $ref: '#/components/schemas/UnprocessableEntityError'
          description: Unprocessable entity. The body contains error information in
            a hash of errorMessages and an optional errorCode.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
          description: Too Many Requests
        "501":
          content:
            application/json:
              example:
                reason: "501"
                message:
                - Not Implemented
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Not Implemented
      summary: Revoke Access
      tags:
      - Activations
    get:
      description: "You must have access to the requested activation and user; otherwise\
        \ a 401 is returned. The user is requested in the scope of an activation,\
        \ then it must be the owner or the host of an activation the API user can\
        \ manage (or) Users created by API user (or) Users who belong to your company\
        \ or its branches."
      operationId: GetActivationUser
      parameters:
      - description: Enlighten ID of the activation(system). System-generated.
        explode: false
        in: path
        name: activation_id
        required: true
        schema:
          type: integer
        style: simple
      - description: Enlighten ID of the user. System-generated.
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: integer
        style: simple
      - description: "Passing expand params in the url with valid option, then the\
          \ response will contain company object fields. Otherwise the company information\
          \ not include in the response."
        explode: true
        in: query
        name: expand
        required: false
        schema:
          $ref: '#/components/schemas/UserExpandEnum'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetActivationUserResponse'
          description: OK
        "401":
          content:
            application/json:
              example:
                reason: "401"
                message:
                - Not authorized to access requested resource.
                - API Key missing in url/headers!
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Unauthorized
        "404":
          content:
            application/json:
              example:
                reason: "404"
                message:
                - System not found
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Not Found
        "422":
          content:
            application/json:
              example:
                errorMessages:
                - Invalid expand option
              schema:
                $ref: '#/components/schemas/UnprocessableEntityError'
          description: Unprocessable entity. The body contains error information in
            a hash of errorMessages and an optional errorCode.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
          description: Too Many Requests
      summary: Returns the requested user
      tags:
      - Users
    post:
      description: Gives a user permission to view this system. Response status 200
        indicates the access was granted. The user must be the owner or the host of
        an activation the API user can manage (or) Users created by API user (or)
        Users who belong to your company or its branches. In all other cases you will
        get 401 response.
      operationId: GrantActivationUserAccess
      parameters:
      - description: Enlighten ID of the activation(system).
        explode: false
        in: path
        name: activation_id
        required: true
        schema:
          type: integer
        style: simple
      - description: Enlighten ID of the user which you want to grant access.
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GrantActivationUserAccessResponse'
          description: OK
        "401":
          content:
            application/json:
              example:
                reason: "401"
                message:
                - Not authorized to access requested resource.
                - API Key missing in url/headers!
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Unauthorized
        "404":
          content:
            application/json:
              example:
                reason: "404"
                message:
                - System not found
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Not Found
        "405":
          content:
            application/json:
              example:
                reason: "405"
                message:
                - Method not allowed
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Method Not Allowed
        "422":
          content:
            application/json:
              example:
                errorMessages:
                - Some error messages
              schema:
                $ref: '#/components/schemas/UnprocessableEntityError'
          description: Unprocessable entity. The body contains error information in
            a hash of errorMessages and an optional errorCode.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
          description: Too Many Requests
        "501":
          content:
            application/json:
              example:
                reason: "501"
                message:
                - Not Implemented
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Not Implemented
      summary: Grant Access
      tags:
      - Activations
    put:
      description: "You must have access to the requested activation and user; otherwise\
        \ a 401 is returned. The user is requested in the scope of an activation,\
        \ then it must be the owner or the host of an activation the API user can\
        \ manage (or) Users created by API user (or) Users who belong to your company\
        \ or its branches. When 'company_id' is passed in the body param or the user\
        \ company_id is already defined, we will not consider the 'enlighten_view'\
        \ field value and the user will become an enlighten manager. You may change\
        \ a user's company if you have access to the user, the old company, and the\
        \ new company."
      operationId: UpdateActivationUser
      parameters:
      - description: Enlighten ID of the activation(system). System-generated.
        explode: false
        in: path
        name: activation_id
        required: true
        schema:
          type: integer
        style: simple
      - description: Enlighten ID of the user. System-generated.
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateActivationUserRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateActivationUserResponse'
          description: OK
        "401":
          content:
            application/json:
              example:
                reason: "401"
                message:
                - Not authorized to access requested resource.
                - API Key missing in url/headers!
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Unauthorized
        "404":
          content:
            application/json:
              example:
                reason: "404"
                message:
                - System not found
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Not Found
        "405":
          content:
            application/json:
              example:
                reason: "405"
                message:
                - Method not allowed
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Method Not Allowed
        "422":
          content:
            application/json:
              example:
                errorMessages:
                - User param are missing at body location
              schema:
                $ref: '#/components/schemas/UnprocessableEntityError'
          description: Unprocessable entity. The body contains error information in
            a hash of errorMessages and an optional errorCode.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
          description: Too Many Requests
        "501":
          content:
            application/json:
              example:
                reason: "501"
                message:
                - Not Implemented
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Not Implemented
      summary: Update user
      tags:
      - Users
      x-codegen-request-body-name: params
  /activations/{activation_id}/ops/production_mode:
    get:
      description: "Get production mode for a particular system. For that system stage\
        \ must be greater than 2, Otherwise you will get 422."
      operationId: GetActivationOpsProductionMode
      parameters:
      - description: Enlighten ID of the activation(system). System-generated.
        explode: false
        in: path
        name: activation_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetActivationOpsProductionModeResponse'
          description: OK
        "401":
          content:
            application/json:
              example:
                reason: "401"
                message:
                - Not authorized to access requested resource.
                - API Key missing in url/headers!
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Unauthorized
        "404":
          content:
            application/json:
              example:
                reason: "404"
                message:
                - System not found
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Not Found
        "405":
          content:
            application/json:
              example:
                reason: "405"
                message:
                - Method not allowed
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Method Not Allowed
        "422":
          content:
            application/json:
              example:
                errorMessages:
                - System not yet communicated
              schema:
                $ref: '#/components/schemas/UnprocessableEntityError'
          description: Unprocessable entity. The body contains error information in
            a hash of errorMessages and an optional errorCode.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
          description: Too Many Requests
        "501":
          content:
            application/json:
              example:
                reason: "501"
                message:
                - Not Implemented
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Not Implemented
      summary: Get production mode
      tags:
      - Activations
    post:
      description: "Enable or Disable production mode for a particular system. For\
        \ that system stage must be greater than 2, Otherwise you will get 422."
      operationId: SetActivationOpsProductionMode
      parameters:
      - description: Enlighten ID of the activation(system). System-generated.
        explode: false
        in: path
        name: activation_id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetActivationOpsProductionModeRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SetActivationOpsProductionModeResponse'
          description: OK
        "401":
          content:
            application/json:
              example:
                reason: "401"
                message:
                - Not authorized to access requested resource.
                - API Key missing in url/headers!
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Unauthorized
        "404":
          content:
            application/json:
              example:
                reason: "404"
                message:
                - System not found
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Not Found
        "405":
          content:
            application/json:
              example:
                reason: "405"
                message:
                - Method not allowed
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Method Not Allowed
        "422":
          content:
            application/json:
              example:
                errorMessages:
                - No active Envoys present in the site
              schema:
                $ref: '#/components/schemas/UnprocessableEntityError'
          description: Unprocessable entity. The body contains error information in
            a hash of errorMessages and an optional errorCode.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
          description: Too Many Requests
        "501":
          content:
            application/json:
              example:
                reason: "501"
                message:
                - Not Implemented
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Not Implemented
      summary: Set production mode
      tags:
      - Activations
      x-codegen-request-body-name: params
  /companies/{company_id}/users:
    get:
      description: Returns the users in the given company.
      operationId: GetCompanyUsers
      parameters:
      - description: Company ID.
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCompanyUsersResponse'
          description: OK
        "401":
          content:
            application/json:
              example:
                reason: "401"
                message:
                - Not authorized to access requested resource.
                - API Key missing in url/headers!
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Unauthorized
        "404":
          content:
            application/json:
              example:
                reason: "404"
                message:
                - System not found
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Not Found
        "405":
          content:
            application/json:
              example:
                reason: "405"
                message:
                - Method not allowed
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Method Not Allowed
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
          description: Too Many Requests
        "501":
          content:
            application/json:
              example:
                reason: "501"
                message:
                - Not Implemented
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Not Implemented
      summary: Get all users with in a company
      tags:
      - Companies
    post:
      description: |-
        Create a company user. When the user is created in the context of a company, then the user is belongs to that company. Otherwise, the user does not belong to a company.
        Email, first name, and last name are mandatory fields in the user. Any unneeded fields passed in the request parameter will be skipped and not stored.
        Pass body param in 'application/x-www-form-urlencoded' format, in this endpoint, key will be 'user' and value will be a JSON dictionary of user fields.
      operationId: CreateCompanyUser
      parameters:
      - description: Company ID.
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCompanyUserRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCompanyUserResponse'
          description: Created
        "401":
          content:
            application/json:
              example:
                reason: "401"
                message:
                - Not authorized to access requested resource.
                - API Key missing in url/headers!
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Unauthorized
        "404":
          content:
            application/json:
              example:
                reason: "404"
                message:
                - System not found
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Not Found
        "405":
          content:
            application/json:
              example:
                reason: "405"
                message:
                - Method not allowed
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Method Not Allowed
        "422":
          content:
            application/json:
              example:
                errorMessages:
                - User param are missing at body location
              schema:
                $ref: '#/components/schemas/UnprocessableEntityError'
          description: Unprocessable entity. The body contains error information in
            a hash of errorMessages and an optional errorCode.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
          description: Too Many Requests
        "501":
          content:
            application/json:
              example:
                reason: "501"
                message:
                - Not Implemented
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Not Implemented
      summary: Create company user
      tags:
      - Companies
      x-codegen-request-body-name: params
  /users:
    post:
      description: |-
        Create a home owner user. Email, first name, and last name are mandatory fields in the user. Any unneeded fields passed in the request parameter will be skipped and not stored.
        Pass body param in 'application/x-www-form-urlencoded' format, in this endpoint, key will be 'user' and value will be a JSON dictionary of user fields.
        Using this API to create both homeowner as well as a company user. If you want to create company user, then pass company_id inside the user object.
      operationId: CreateUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateUserResponse'
          description: Created
        "401":
          content:
            application/json:
              example:
                reason: "401"
                message:
                - Not authorized to access requested resource.
                - API Key missing in url/headers!
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Unauthorized
        "405":
          content:
            application/json:
              example:
                reason: "405"
                message:
                - Method not allowed
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Method Not Allowed
        "422":
          content:
            application/json:
              example:
                errorMessages:
                - User param are missing at body location
              schema:
                $ref: '#/components/schemas/UnprocessableEntityError'
          description: Unprocessable entity. The body contains error information in
            a hash of errorMessages and an optional errorCode.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
          description: Too Many Requests
        "501":
          content:
            application/json:
              example:
                reason: "501"
                message:
                - Not Implemented
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Not Implemented
      summary: Create Home owner
      tags:
      - Home Owner
      x-codegen-request-body-name: params
  /users/search:
    get:
      description: Returns the user ID for the given email ID only if the user exists.
      operationId: SearchUsers
      parameters:
      - description: Email address of the user.
        explode: true
        in: query
        name: email
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchUsersResponse'
          description: OK
        "401":
          content:
            application/json:
              example:
                reason: "401"
                message:
                - Not authorized to access requested resource.
                - API Key missing in url/headers!
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Unauthorized
        "404":
          content:
            application/json:
              example:
                reason: "404"
                message:
                - System not found
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Not Found
        "405":
          content:
            application/json:
              example:
                reason: "405"
                message:
                - Method not allowed
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Method Not Allowed
        "422":
          content:
            application/json:
              example:
                errorMessages:
                - Email should not be blank
              schema:
                $ref: '#/components/schemas/UnprocessableEntityError'
          description: Unprocessable entity. The body contains error information in
            a hash of errorMessages and an optional errorCode.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
          description: Too Many Requests
        "501":
          content:
            application/json:
              example:
                reason: "501"
                message:
                - Not Implemented
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Not Implemented
      summary: Search user
      tags:
      - Users
  /companies/{company_id}/users/{user_id}:
    get:
      description: "Returns the requested user. If the user is requested in the scope\
        \ of a company, then two conditions apply. 1) You must have access to the\
        \ requested company; otherwise a 401 is returned. 2) The user must belong\
        \ to the requested company; otherwise a 401 is returned. Company details are\
        \ provided in the response only if 'expand' parameter is passed in the URL\
        \ with value as company. Otherwise, company information will not be provided\
        \ in the response."
      operationId: GetCompanyUser
      parameters:
      - description: Company ID.
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          type: integer
        style: simple
      - description: User ID.
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: integer
        style: simple
      - description: "Passing expand params in the url with valid option, then the\
          \ response will contain company object fields. Otherwise the company information\
          \ will not be provided in the response."
        explode: true
        in: query
        name: expand
        required: false
        schema:
          $ref: '#/components/schemas/UserExpandEnum'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCompanyUserResponse'
          description: OK
        "401":
          content:
            application/json:
              example:
                reason: "401"
                message:
                - Not authorized to access requested resource.
                - API Key missing in url/headers!
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Unauthorized
        "404":
          content:
            application/json:
              example:
                reason: "404"
                message:
                - System not found
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Not Found
        "405":
          content:
            application/json:
              example:
                reason: "405"
                message:
                - Method not allowed
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Method Not Allowed
        "422":
          content:
            application/json:
              example:
                errorMessages:
                - Invalid expand option
              schema:
                $ref: '#/components/schemas/UnprocessableEntityError'
          description: Unprocessable entity. The body contains error information in
            a hash of errorMessages and an optional errorCode.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
          description: Too Many Requests
        "501":
          content:
            application/json:
              example:
                reason: "501"
                message:
                - Not Implemented
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Not Implemented
      summary: Returns the requested user
      tags:
      - Companies
    put:
      description: "Updates a user. You may change a user's company if you have access\
        \ to the user, the old company, and the new company. The user is requested\
        \ in the scope of a company, then three conditions apply. 1) You must have\
        \ access to the requested company; otherwise a 401 is returned. 2) The user\
        \ must belong to the requested company; otherwise a 401 is returned. 3) Requested\
        \ user must be created by API user (or) it must belong to your company or\
        \ its branches."
      operationId: UpdateCompanyUser
      parameters:
      - description: Company ID.
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          type: integer
        style: simple
      - description: User ID.
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCompanyUserRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateCompanyUserResponse'
          description: OK
        "401":
          content:
            application/json:
              example:
                reason: "401"
                message:
                - Not authorized to access requested resource.
                - API Key missing in url/headers!
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Unauthorized
        "404":
          content:
            application/json:
              example:
                reason: "404"
                message:
                - System not found
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Not Found
        "405":
          content:
            application/json:
              example:
                reason: "405"
                message:
                - Method not allowed
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Method Not Allowed
        "422":
          content:
            application/json:
              example:
                errorMessages:
                - Email has already been registered
              schema:
                $ref: '#/components/schemas/UnprocessableEntityError'
          description: Unprocessable entity. The body contains error information in
            a hash of errorMessages and an optional errorCode.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
          description: Too Many Requests
        "501":
          content:
            application/json:
              example:
                reason: "501"
                message:
                - Not Implemented
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Not Implemented
      summary: Update company user
      tags:
      - Companies
      x-codegen-request-body-name: params
  /users/{user_id}:
    get:
      description: "You must have permission to view the user. You can view yourself,\
        \ users you created, and users who belong to your company or its branches.\
        \ In all other cases, a 401 is returned. Company details are provided in the\
        \ response only if 'expand' parameter is passed in the URL with value as company.\
        \ Otherwise, company information will not be provided in the response."
      operationId: GetUser
      parameters:
      - description: User ID.
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: integer
        style: simple
      - description: "Passing expand params in the url with valid option, then the\
          \ response will contain company object fields. Otherwise the company information\
          \ will not be provided in the response."
        explode: true
        in: query
        name: expand
        required: false
        schema:
          $ref: '#/components/schemas/UserExpandEnum'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUserResponse'
          description: OK
        "401":
          content:
            application/json:
              example:
                reason: "401"
                message:
                - Not authorized to access requested resource.
                - API Key missing in url/headers!
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Unauthorized
        "404":
          content:
            application/json:
              example:
                reason: "404"
                message:
                - System not found
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Not Found
        "405":
          content:
            application/json:
              example:
                reason: "405"
                message:
                - Method not allowed
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Method Not Allowed
        "422":
          content:
            application/json:
              example:
                errorMessages:
                - Invalid expand option
              schema:
                $ref: '#/components/schemas/UnprocessableEntityError'
          description: Unprocessable entity. The body contains error information in
            a hash of errorMessages and an optional errorCode.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
          description: Too Many Requests
        "501":
          content:
            application/json:
              example:
                reason: "501"
                message:
                - Not Implemented
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Not Implemented
      summary: Returns the requested user
      tags:
      - Users
    put:
      description: "You must have permission to view the user. You can view yourself,\
        \ users you created, and users who belong to your company or its branches.\
        \ In all other cases, a 401 is returned. 'company_id' is an optional field.\
        \ When you passing a 'company_id', the user become an enlighten manager and\
        \ we will not consider 'enlighten_view' field value. You may change a user's\
        \ company if you have access to the user, the old company, and the new company."
      operationId: UpdateUser
      parameters:
      - description: User ID.
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateUserResponse'
          description: OK
        "401":
          content:
            application/json:
              example:
                reason: "401"
                message:
                - Not authorized to access requested resource.
                - API Key missing in url/headers!
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Unauthorized
        "404":
          content:
            application/json:
              example:
                reason: "404"
                message:
                - System not found
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Not Found
        "405":
          content:
            application/json:
              example:
                reason: "405"
                message:
                - Method not allowed
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Method Not Allowed
        "422":
          content:
            application/json:
              example:
                errorMessages:
                - Email has already been registered
              schema:
                $ref: '#/components/schemas/UnprocessableEntityError'
          description: Unprocessable entity. The body contains error information in
            a hash of errorMessages and an optional errorCode.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
          description: Too Many Requests
        "501":
          content:
            application/json:
              example:
                reason: "501"
                message:
                - Not Implemented
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Not Implemented
      summary: Update user
      tags:
      - Users
      x-codegen-request-body-name: params
  /users/self:
    get:
      description: "Return the current logged in user detail. Company details are\
        \ provided in the response only if 'expand' parameter is passed in the URL\
        \ with value as company. Otherwise, company information will not be provided\
        \ in the response."
      operationId: GetSelfUser
      parameters:
      - description: "Passing expand params in the url with valid option, then the\
          \ response will contain company object fields. Otherwise the company information\
          \ will not be provided in the response."
        explode: true
        in: query
        name: expand
        required: false
        schema:
          $ref: '#/components/schemas/UserExpandEnum'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSelfUserResponse'
          description: OK
        "401":
          content:
            application/json:
              example:
                reason: "401"
                message:
                - Not authorized to access requested resource.
                - API Key missing in url/headers!
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Unauthorized
        "404":
          content:
            application/json:
              example:
                reason: "404"
                message:
                - System not found
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Not Found
        "405":
          content:
            application/json:
              example:
                reason: "405"
                message:
                - Method not allowed
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Method Not Allowed
        "422":
          content:
            application/json:
              example:
                errorMessages:
                - Invalid expand option
              schema:
                $ref: '#/components/schemas/UnprocessableEntityError'
          description: Unprocessable entity. The body contains error information in
            a hash of errorMessages and an optional errorCode.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
          description: Too Many Requests
        "501":
          content:
            application/json:
              example:
                reason: "501"
                message:
                - Not Implemented
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Not Implemented
      summary: Return the current logged in user detail
      tags:
      - Users
  /companies/self/branches:
    get:
      description: "Returns information about the API user's company and its branches,\
        \ if any."
      operationId: GetSelfCompanyBranches
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSelfCompanyBranchesResponse'
          description: OK
        "401":
          content:
            application/json:
              example:
                reason: "401"
                message:
                - Not authorized to access requested resource.
                - API Key missing in url/headers!
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Unauthorized
        "405":
          content:
            application/json:
              example:
                reason: "405"
                message:
                - Method not allowed
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Method Not Allowed
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
          description: Too Many Requests
        "501":
          content:
            application/json:
              example:
                reason: "501"
                message:
                - Not Implemented
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Not Implemented
      summary: User's company and its branches
      tags:
      - Companies
  /activations/{activation_id}/estimate:
    get:
      description: "Provides access to production estimates for a system. An estimate\
        \ includes the annual degradation factor for the system as well as estimated\
        \ production, in kWh, for each month. By default degrade_factor value is 0.5\
        \ and month_estimates value is an empty array."
      operationId: GetActivationEstimate
      parameters:
      - description: Activation ID.
        explode: false
        in: path
        name: activation_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetActivationEstimateResponse'
          description: OK
        "401":
          content:
            application/json:
              example:
                reason: "401"
                message:
                - Not authorized to access requested resource.
                - API Key missing in url/headers!
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Unauthorized
        "404":
          content:
            application/json:
              example:
                reason: "404"
                message:
                - System not found
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Not Found
        "405":
          content:
            application/json:
              example:
                reason: "405"
                message:
                - Method not allowed
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Method Not Allowed
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
          description: Too Many Requests
        "501":
          content:
            application/json:
              example:
                reason: "501"
                message:
                - Not Implemented
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Not Implemented
      summary: Returns the estimate for this system.
      tags:
      - Estimate
    put:
      description: Updates the estimate for this system.
      operationId: UpdateActivationEstimate
      parameters:
      - description: Activation ID.
        explode: false
        in: path
        name: activation_id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateActivationEstimateRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateActivationEstimateResponse'
          description: OK
        "401":
          content:
            application/json:
              example:
                reason: "401"
                message:
                - Not authorized to access requested resource.
                - API Key missing in url/headers!
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Unauthorized
        "404":
          content:
            application/json:
              example:
                reason: "404"
                message:
                - System not found
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Not Found
        "405":
          content:
            application/json:
              example:
                reason: "405"
                message:
                - Method not allowed
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Method Not Allowed
        "422":
          content:
            application/json:
              example:
                errorCode: 11
                errorMessages:
                - Estimate parameter missing in body
              schema:
                $ref: '#/components/schemas/UnprocessableEntityError'
          description: Unprocessable entity. The body contains error information in
            a hash of errorMessages and an optional errorCode.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
          description: Too Many Requests
        "501":
          content:
            application/json:
              example:
                reason: "501"
                message:
                - Not Implemented
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Not Implemented
      summary: Update the estimate for this system.
      tags:
      - Estimate
      x-codegen-request-body-name: params
  /grid_profiles:
    get:
      description: Lists the available profiles.
      operationId: GetGridProfiles
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetGridProfilesResponse'
          description: OK
        "401":
          content:
            application/json:
              example:
                reason: "401"
                message:
                - Not authorized to access requested resource.
                - API Key missing in url/headers!
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Unauthorized
        "404":
          content:
            application/json:
              example:
                reason: "404"
                message:
                - System not found
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Not Found
        "405":
          content:
            application/json:
              example:
                reason: "405"
                message:
                - Method not allowed
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Method Not Allowed
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
          description: Too Many Requests
        "501":
          content:
            application/json:
              example:
                reason: "501"
                message:
                - Not Implemented
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Not Implemented
      summary: Lists the available profiles
      tags:
      - Grid Profiles
  /systems/{system_id}/meters/{serial_number}:
    get:
      description: Returns the requested meter by serial number. You must have access
        to the requested system and meter; otherwise a 401 is returned.
      operationId: GetSystemMeter
      parameters:
      - description: System ID.
        explode: false
        in: path
        name: system_id
        required: true
        schema:
          type: integer
        style: simple
      - description: Meter serial number.
        explode: false
        in: path
        name: serial_number
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSystemMeterResponse'
          description: OK
        "401":
          content:
            application/json:
              example:
                reason: "401"
                message:
                - Not authorized to access requested resource.
                - API Key missing in url/headers!
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Unauthorized
        "404":
          content:
            application/json:
              example:
                reason: "404"
                message:
                - System not found
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Not Found
        "405":
          content:
            application/json:
              example:
                reason: "405"
                message:
                - Method not allowed
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Method Not Allowed
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
          description: Too Many Requests
        "501":
          content:
            application/json:
              example:
                reason: "501"
                message:
                - Not Implemented
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Not Implemented
      summary: Returns the requested meter detail.
      tags:
      - Meters
    put:
      description: Update the operational date of a meter. You must have access to
        the requested system and meter; otherwise a 401 is returned.
      operationId: UpdateSystemMeter
      parameters:
      - description: System ID.
        explode: false
        in: path
        name: system_id
        required: true
        schema:
          type: integer
        style: simple
      - description: Meter serial number.
        explode: false
        in: path
        name: serial_number
        required: true
        schema:
          type: string
        style: simple
      - description: Operational date in the following format YYYY-MM-DD.
        explode: true
        in: query
        name: operational_date
        required: false
        schema:
          format: date
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateSystemMeterResponse'
          description: OK
        "401":
          content:
            application/json:
              example:
                reason: "401"
                message:
                - Not authorized to access requested resource.
                - API Key missing in url/headers!
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Unauthorized
        "404":
          content:
            application/json:
              example:
                reason: "404"
                message:
                - System not found
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Not Found
        "405":
          content:
            application/json:
              example:
                reason: "405"
                message:
                - Method not allowed
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Method Not Allowed
        "422":
          content:
            application/json:
              example:
                errorMessages:
                - operational date parameter missing in url
              schema:
                $ref: '#/components/schemas/UnprocessableEntityError'
          description: Unprocessable entity. The body contains error information in
            a hash of errorMessages and an optional errorCode.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
          description: Too Many Requests
        "501":
          content:
            application/json:
              example:
                reason: "501"
                message:
                - Not Implemented
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Not Implemented
      summary: Update the operational date of a meter by serial number.
      tags:
      - Meters
  /activations/{activation_id}/meters/{serial_number}/meter_control:
    post:
      description: Enable or Disable the meters. You must have access to the requested
        system and meter; otherwise a 401 is returned.
      operationId: SetActivationMeterStatus
      parameters:
      - description: Activation ID.
        explode: false
        in: path
        name: activation_id
        required: true
        schema:
          type: integer
        style: simple
      - description: Meter serial number.
        explode: false
        in: path
        name: serial_number
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetActivationMeterStatusRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SetActivationMeterStatusResponse'
          description: OK
        "401":
          content:
            application/json:
              example:
                reason: "401"
                message:
                - Not authorized to access requested resource.
                - API Key missing in url/headers!
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Unauthorized
        "404":
          content:
            application/json:
              example:
                reason: "404"
                message:
                - System not found
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Not Found
        "405":
          content:
            application/json:
              example:
                reason: "405"
                message:
                - Method not allowed
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Method Not Allowed
        "422":
          content:
            application/json:
              example:
                errorMessages:
                - "Invalid status, expected status is 'enabled' or 'disabled'"
              schema:
                $ref: '#/components/schemas/UnprocessableEntityError'
          description: Unprocessable entity. The body contains error information in
            a hash of errorMessages and an optional errorCode.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
          description: Too Many Requests
        "501":
          content:
            application/json:
              example:
                reason: "501"
                message:
                - Not Implemented
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Not Implemented
      summary: Enable or Disable the meters.
      tags:
      - Meters
      x-codegen-request-body-name: params
  /pv_manufacturers:
    get:
      description: Returns information about the PV module manufacturers known in
        Enlighten.
      operationId: GetPvManufacturers
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPvManufacturersResponse'
          description: OK
        "401":
          content:
            application/json:
              example:
                reason: "401"
                message:
                - Not authorized to access requested resource.
                - API Key missing in url/headers!
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Unauthorized
        "405":
          content:
            application/json:
              example:
                reason: "405"
                message:
                - Method not allowed
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Method Not Allowed
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
          description: Too Many Requests
        "501":
          content:
            application/json:
              example:
                reason: "501"
                message:
                - Not Implemented
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Not Implemented
      summary: Returns PV module manufacturers
      tags:
      - PvManufacturers
  /pv_manufacturers/{pv_manufacturer_id}/pv_models:
    get:
      description: Returns information about the PV modules known in Enlighten.
      operationId: GetPvManufacturerModels
      parameters:
      - description: Pv manufacturer ID.
        explode: false
        in: path
        name: pv_manufacturer_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPvManufacturerModelsResponse'
          description: OK
        "401":
          content:
            application/json:
              example:
                reason: "401"
                message:
                - Not authorized to access requested resource.
                - API Key missing in url/headers!
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Unauthorized
        "404":
          content:
            application/json:
              example:
                reason: "404"
                message:
                - System not found
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Not Found
        "405":
          content:
            application/json:
              example:
                reason: "405"
                message:
                - Method not allowed
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Method Not Allowed
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
          description: Too Many Requests
        "501":
          content:
            application/json:
              example:
                reason: "501"
                message:
                - Not Implemented
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Not Implemented
      summary: Returns PV module manufacturers
      tags:
      - PvModels
  /systems/config/{system_id}/tariff:
    get:
      description: Get tariff for a system.
      operationId: GetSystemTariffSettings
      parameters:
      - description: Unique numeric ID of the system.
        explode: false
        in: path
        name: system_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSystemTariffSettingsResponse'
          description: OK
        "401":
          content:
            application/json:
              example:
                reason: "401"
                message:
                - Not authorized to access requested resource.
                - API Key missing in url/headers!
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Unauthorized
        "404":
          content:
            application/json:
              example:
                reason: "404"
                message:
                - System not found
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Not Found
        "405":
          content:
            application/json:
              example:
                reason: "405"
                message:
                - Method not allowed
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Method Not Allowed
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
          description: Too Many Requests
        "501":
          content:
            application/json:
              example:
                reason: "501"
                message:
                - Not Implemented
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Not Implemented
      summary: Get tariff for a system
      tags:
      - Tariff
    put:
      operationId: UpdateSystemTariffSettings
      parameters:
      - description: Unique numeric ID of the system.
        explode: false
        in: path
        name: system_id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/text:
            schema:
              $ref: '#/components/schemas/UpdateSystemTariffSettingsRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateSystemTariffSettingsResponse'
          description: OK
        "401":
          content:
            application/json:
              example:
                reason: "401"
                message:
                - Not authorized to access requested resource.
                - API Key missing in url/headers!
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Unauthorized
        "404":
          content:
            application/json:
              example:
                reason: "404"
                message:
                - System not found
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Not Found
        "405":
          content:
            application/json:
              example:
                reason: "405"
                message:
                - Method not allowed
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Method Not Allowed
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
          description: Too Many Requests
        "501":
          content:
            application/json:
              example:
                reason: "501"
                message:
                - Not Implemented
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Not Implemented
      summary: Update tariff for a system
      tags:
      - Tariff
      x-codegen-request-body-name: params
  /systems/{system_id}/arrays:
    get:
      description: Fetch particular system Array details.
      operationId: GetSystemArrays
      parameters:
      - description: System ID.
        explode: false
        in: path
        name: system_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSystemArraysResponse'
          description: OK
        "401":
          content:
            application/json:
              example:
                reason: "401"
                message:
                - Not authorized to access requested resource.
                - API Key missing in url/headers!
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Unauthorized
        "404":
          content:
            application/json:
              example:
                reason: "404"
                message:
                - System not found
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Not Found
        "405":
          content:
            application/json:
              example:
                reason: "405"
                message:
                - Method not allowed
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Method Not Allowed
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
          description: Too Many Requests
        "501":
          content:
            application/json:
              example:
                reason: "501"
                message:
                - Not Implemented
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Not Implemented
      summary: Fetch particular system Array details
      tags:
      - Arrays
    put:
      description: "Update all arrays for system. The angle, left, and top fields\
        \ in the request parameter must be of integer type. Enlighten will rearrange\
        \ the top and left values of the modules to fit the modules properly and avoid\
        \ overlap. Therefore, the top and left values in the response may be slightly\
        \ different from the top and left values passed in the request parameters.\
        \ In array level, top and left is the total size of the modules inside that\
        \ array. Overall the arrays top and left values should not overlap. In the\
        \ module level, the size of a panel is 100 units long in the x axis and 200\
        \ units long in the y axis. Please pass the left and top values in the request\
        \ parameter in multiples of 100 and 200 respectively."
      operationId: UpdateSystemArrays
      parameters:
      - description: System ID.
        explode: false
        in: path
        name: system_id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/text:
            schema:
              $ref: '#/components/schemas/UpdateSystemArraysRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateSystemArraysResponse'
          description: OK
        "401":
          content:
            application/json:
              example:
                reason: "401"
                message:
                - Not authorized to access requested resource.
                - API Key missing in url/headers!
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Unauthorized
        "404":
          content:
            application/json:
              example:
                reason: "404"
                message:
                - System not found
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Not Found
        "405":
          content:
            application/json:
              example:
                reason: "405"
                message:
                - Method not allowed
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Method Not Allowed
        "422":
          content:
            application/json:
              example:
                errorMessages:
                - some error messages
              schema:
                $ref: '#/components/schemas/UnprocessableEntityError'
          description: Unprocessable entity. The body contains error information in
            a hash of errorMessages and an optional errorCode.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
          description: Too Many Requests
        "501":
          content:
            application/json:
              example:
                reason: "501"
                message:
                - Not Implemented
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Not Implemented
      summary: Update all arrays for system
      tags:
      - Arrays
      x-codegen-request-body-name: params
  /systems/{system_id}/arrays/{id}:
    delete:
      description: Delete an array by ID.
      operationId: DeleteSystemArray
      parameters:
      - description: System ID.
        explode: false
        in: path
        name: system_id
        required: true
        schema:
          type: integer
        style: simple
      - description: Array ID.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteSystemArrayResponse'
          description: OK
        "401":
          content:
            application/json:
              example:
                reason: "401"
                message:
                - Not authorized to access requested resource.
                - API Key missing in url/headers!
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Unauthorized
        "404":
          content:
            application/json:
              example:
                reason: "404"
                message:
                - System not found
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Not Found
        "405":
          content:
            application/json:
              example:
                reason: "405"
                message:
                - Method not allowed
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Method Not Allowed
        "422":
          content:
            application/json:
              example:
                errorMessages:
                - Array not found
              schema:
                $ref: '#/components/schemas/UnprocessableEntityError'
          description: Unprocessable entity. The body contains error information in
            a hash of errorMessages and an optional errorCode.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
          description: Too Many Requests
        "501":
          content:
            application/json:
              example:
                reason: "501"
                message:
                - Not Implemented
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Not Implemented
      summary: Delete an array by ID
      tags:
      - Arrays
    get:
      description: Fetch array details by ID.
      operationId: GetSystemArray
      parameters:
      - description: System ID.
        explode: false
        in: path
        name: system_id
        required: true
        schema:
          type: integer
        style: simple
      - description: "Array ID. If an empty value is passed in the Array ID, this\
          \ endpoint behaves as 'Fetch particular system Array details' endpoint."
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSystemArrayResponse'
          description: OK
        "401":
          content:
            application/json:
              example:
                reason: "401"
                message:
                - Not authorized to access requested resource.
                - API Key missing in url/headers!
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Unauthorized
        "404":
          content:
            application/json:
              example:
                reason: "404"
                message:
                - System not found
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Not Found
        "405":
          content:
            application/json:
              example:
                reason: "405"
                message:
                - Method not allowed
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Method Not Allowed
        "422":
          content:
            application/json:
              example:
                errorMessages:
                - some error messages
              schema:
                $ref: '#/components/schemas/UnprocessableEntityError'
          description: Unprocessable entity. The body contains error information in
            a hash of errorMessages and an optional errorCode.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
          description: Too Many Requests
        "501":
          content:
            application/json:
              example:
                reason: "501"
                message:
                - Not Implemented
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Not Implemented
      summary: Fetch array details by ID
      tags:
      - Arrays
    put:
      description: "Update particular system array details. The angle, left, and top\
        \ fields in the request parameter must be of integer type. Enlighten will\
        \ rearrange the top and left values of the modules to fit the modules properly\
        \ and avoid overlap. Therefore, the top and left values in the response may\
        \ be slightly different from the top and left values passed in the request\
        \ parameters. In array level, top and left is the total size of the modules\
        \ inside that array. Overall in arrays, the top and left values should not\
        \ overlap. In the module level, the size of a panel is 100 units long in the\
        \ x axis and 200 units long in the y axis. Please pass the left and top values\
        \ in the request parameter in multiples of 100 and 200 respectively."
      operationId: UpdateSystemArray
      parameters:
      - description: System ID.
        explode: false
        in: path
        name: system_id
        required: true
        schema:
          type: integer
        style: simple
      - description: "Array ID. If an empty value is passed in the Array ID, this\
          \ endpoint behaves as 'Update all Arrays' endpoint."
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/text:
            schema:
              $ref: '#/components/schemas/UpdateSystemArrayRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateSystemArrayResponse'
          description: OK
        "401":
          content:
            application/json:
              example:
                reason: "401"
                message:
                - Not authorized to access requested resource.
                - API Key missing in url/headers!
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Unauthorized
        "404":
          content:
            application/json:
              example:
                reason: "404"
                message:
                - System not found
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Not Found
        "405":
          content:
            application/json:
              example:
                reason: "405"
                message:
                - Method not allowed
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Method Not Allowed
        "422":
          content:
            application/json:
              example:
                errorMessages:
                - some error messages
              schema:
                $ref: '#/components/schemas/UnprocessableEntityError'
          description: Unprocessable entity. The body contains error information in
            a hash of errorMessages and an optional errorCode.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
          description: Too Many Requests
        "501":
          content:
            application/json:
              example:
                reason: "501"
                message:
                - Not Implemented
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Not Implemented
      summary: Update particular system array details
      tags:
      - Arrays
      x-codegen-request-body-name: params
components:
  responses:
    UnauthorizedError:
      content:
        application/json:
          example:
            reason: "401"
            message:
[...]
